#Python - Non-technical introduction

##Exercise Day 2 Session 2: "Select the needle in a haystack: How to use “select” operations?"


This file provides exercises accompanying the lectures.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

1.   Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository. https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv
2.   Adjust the format of column "TransDate" to datetime

###16 - Data wrangling techniques

No exercises for this unit

###17 - Selection rows

1. Select rows 10 to 20 (inlcuding 20) from the `myData` DataFrame. *Hint:* Please have a careful look at the terminology. The row number of the first line is 1, the row index of the first line is 0.

2. Select all purchases from 2010 from the myData DataFrame.

3. Select purchases made on 19.12.2010 or on 21.12.2010 from the `myData` DataFrame. *Hint:* Make sure the date variable is in the correct format.

4. Select all purchases with quantities between 2 and 5 (including 2 and 5) from the `myData` DataFrame.

5. Select all purchases with purchase amount greater than 100 which were made from 01.01.2009 onwards from the `myData` DataFrame.

###18 - Selecting columns

1. First, select rows 1 to 100 and save the subset in your working environment.

2. From this, select the following columns: `Customer`, `TransDate`, and `Quantity`.

3. Select the columns `Customer` and `Cost` from all rows with a purchase amount  between 100 and 200.

###19 - Appending and updating rows and columns

1. Create a new column calculating the difference between `PurchAmount` and `Cost`. Call it `Profit`.

2. Rename Profit to `ProfitChange`.

3. Delete `ProfitChange` again

4. Create a copy of `myData` and name it `mydata_toppurchases`. In the new DataFrame delete all transactions with a `PurchAmount` smaller than 100.