#Python - Non-technical introduction

##Day 4 Session 3 "No data, no problem: How to simulate data?"

This file accompanies the lectures and provides the code for the corresponding slides.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

**Make sure to run the follwing code before continuing.** Code will prepare everything (load data, ...).

In [ ]:
#load the numpy package
import numpy as np
#load the Pandas package
import pandas as pd
#install names package
!pip install names

#Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository.
myData=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv", sep=",")
#Adjust the format of column "TransDate" to datetime
myData["TransDate"]  = pd.to_datetime(myData["TransDate"], dayfirst=True)

Collecting names
  Downloading https://files.pythonhosted.org/packages/44/4e/f9cb7ef2df0250f4ba3334fbdabaa94f9c88097089763d8e85ada8092f84/names-0.3.0.tar.gz (789kB)
     |████████████████████████████████| 798kB 4.4MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-cp36-none-any.whl size=803689 sha256=b3b51d2df0b3a5b3436b2d87f81cfe5c4e08b7fce72ee0ad06927c9aa81811ba
  Stored in directory: /root/.cache/pip/wheels/f9/a5/e1/be3e0aaa6fa285575078fa2aafd9959b45bdbc8de8a6803aeb
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

###38 - Creating sequences automatically

####**Slide:** Sequences for equal spacing (1/2)

In [ ]:
#basic sequences
range(2,13)

   Customer Gender  Birthdate       ZIP   JoinDate  TransKey
0     42291      m 1963-07-12  US-04533 1998-07-23       NaN
1     42886      f 1987-05-04  US-08055 2011-06-12       NaN
2     80365      f 1991-08-26  US-06332 2009-09-15       NaN

In [ ]:
#arrays
np.arange(start=1, stop=12, step=3)

array([ 1,  4,  7, 10])

In [ ]:
np.arange(start=1.25, stop=6.25, step=0.25)

array([1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 , 2.75, 3.  , 3.25, 3.5 , 3.75,
       4.  , 4.25, 4.5 , 4.75, 5.  , 5.25, 5.5 , 5.75, 6.  ])

####**Slide:** Sidenote: Unnamed arguments

In [ ]:
np.arange(start=1, stop=12, step=3)

array([ 1,  4,  7, 10])

In [ ]:
np.arange(1,12,3)

array([ 1,  4,  7, 10])

In [ ]:
np.arange(1,3,12)

array([1])

In [ ]:
#use argument names!
np.arange(start=1, step=3, stop=12)

array([ 1,  4,  7, 10])

####**Slide:** Sequences for equal spacing (2/2)

In [ ]:
#Characters
import string

list(string.ascii_lowercase)[0:5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
#Dates

pd.date_range(start='1/1/2011',end='03/31/2011',
freq="MS")

DatetimeIndex(['2011-01-01', '2011-02-01', '2011-03-01'], dtype='datetime64[ns]', freq='MS')

####**Slide:** Replicate a number or vector

In [ ]:
#Continuous replications
np.tile(range(1,13), reps=3)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       11, 12])

In [ ]:
#Consecutive repetitions
np.repeat(range(1,13), repeats=3)

array([ 1,  1,  1,  2,  2,  2,  3,  3,  3,  4,  4,  4,  5,  5,  5,  6,  6,
        6,  7,  7,  7,  8,  8,  8,  9,  9,  9, 10, 10, 10, 11, 11, 11, 12,
       12, 12])

####**Slide:** Create a table with all possible permutations of the given variables

In [ ]:
import itertools
list(itertools.product(range(165,168), ["1", "2"]))

[(165, '1'), (165, '2'), (166, '1'), (166, '2'), (167, '1'), (167, '2')]

In [ ]:
#An example
CustId = range(165,168)
Store= ["A","B"]
CustData= pd.DataFrame(list(itertools.product(CustId, Store)))
CustData.columns = ["CustId", "Store"]
CustData

   CustId Store
0     165     A
1     165     B
2     166     A
3     166     B
4     167     A
5     167     B

####**Slide:** Sidenote: Concatenate strings

In [ ]:
CustData.head(n=3)
CustData.dtypes
CustData["Store_Cust"] = CustData["CustId"].astype(str) + "_" + CustData["Store"].astype(str)
CustData.head(n=3)

   CustId Store Store_Cust
0     165     A      165_A
1     165     B      165_B
2     166     A      166_A

####**Slide:** Sidenote: Finding unique elements

In [ ]:
#Return the unique entries of a DataFrame

CustData.drop_duplicates()

   CustId Store Store_Cust
0     165     A      165_A
1     165     B      165_B
2     166     A      166_A
3     166     B      166_B
4     167     A      167_A
5     167     B      167_B

In [ ]:
#Return the unique elements of a vector

pd.unique(CustData["Store"])

array(['A', 'B'], dtype=object)

###39 - Simulating and manipulating strings

####**Slide:** Random name sampling with `names()` (1/2)

In [ ]:
import names

In [ ]:
randnames=[]
#We use a loop here to show an example. Loops will be discussed tomorrow.
for i in range(3):
  randnames.append(names.get_full_name(gender="female"))
print (randnames)

NameError: ignored

####**Slide:** Random name sampling with `names()` (2/2)

In [ ]:
#Firstnames:
names.get_first_name(gender="female")

'Brenda'

In [ ]:
#Lastnames:
names.get_last_name()

'Perez'

####**Slide:** Manipulate strings in Python

In [ ]:
#Trim leading and trailing whitespaces
"   this is a      test   ".strip()

'this is a      test'

In [ ]:
#Pad strings with zeros to create strings of equal width
ids = [1,12,123,1234]
[str(item).zfill(4) for item in ids]

['0001', '0012', '0123', '1234']

In [ ]:
#Search for strings in a vector
friends = ['Nicholas', 'Thomas', 'Kayla']
["Nicholas" in item for item in friends]

[True, False, False]

In [ ]:
#Observe, that list comprehension provides a vectorized output in contrast to:
"Nicholas" in friends

True

In [ ]:
#Replace string in a vector
[item.replace("Nicholas", "Nicki") for item in friends]

['Nicki', 'Thomas', 'Kayla']

In [ ]:
#Caution: The replace()-function is case sensitive
[item.replace("nicholas", "Nicki") for item in friends]

['Nicholas', 'Thomas', 'Kayla']

In [ ]:
#Transform strings to lower case
[item.lower() for item in friends]

['nicholas', 'thomas', 'kayla']

In [ ]:
#Transform strings to upper case
[item.upper() for item in friends]

['NICHOLAS', 'THOMAS', 'KAYLA']

####**Slide:** Advanced string manipulation:
Use the `split()`-function

In [ ]:
#Split strings
firstname=randnames[0]
print(firstname)
print(firstname.split(" ",1))
print(firstname.split(" ",1)[0])

Patricia Gill
['Patricia', 'Gill']
Patricia

In [ ]:
#Split lists of strings
print(randnames)
print([i.split(" ",1)[0] for i in randnames])

['Patricia Gill', 'Betty Wier', 'Shirley Pepper']
['Patricia', 'Betty', 'Shirley']

####**Slide:** Advanced string manipulation:
 Anonymize customer names (and IDs)

In [ ]:
list(map(hash, CustData["CustId"]))

[165, 165, 166, 166, 167, 167]

###40 - Simulating variables by using distributions

####**Slide:** Discrete distribution simulation in Python

In [ ]:
#without replacement
np.random.choice(10, size=5, replace=False)

array([9, 0, 1, 2, 7])

In [ ]:
#with replacement
np.random.choice(10, size=5, replace=True)

array([1, 9, 2, 1, 8])

####**Slide:** Continuous distribution simulation in Python

In [ ]:
np.random.normal(loc=5.0, scale=1.0, size=500)

array([3.36769746, 6.13266398, 4.42877175, 4.30282551, 4.41155579,
       5.28231082, 6.07695258, 4.75405302, 6.73074229, 2.78181193,
       4.48266352, 4.58101573, 3.86594392, 5.31401877, 4.91432484,
       5.74602525, 5.23116526, 2.67333636, 4.04880078, 5.36190081,
       5.05643163, 4.32505254, 5.98288353, 4.6003676 , 5.0346396 ,
       3.26163587, 5.04468595, 5.71750734, 4.2998289 , 5.20746189,
       3.48821181, 5.71043785, 6.28514469, 7.07628561, 3.92318679,
       3.84718169, 6.22679335, 4.14942192, 4.12871372, 4.7650099 ,
       4.48443485, 5.9213178 , 4.40631385, 4.89883709, 6.66725314,
       4.40636743, 4.9088805 , 5.43301637, 4.82726964, 6.42115777,
       3.79447218, 4.26257466, 3.79156687, 4.19458525, 5.27598515,
       4.90280351, 4.99222249, 5.4497079 , 6.73946873, 5.42538027,
       4.71505797, 5.35464074, 5.69954984, 6.27912066, 5.81325304,
       4.22579624, 5.37214573, 5.87680044, 6.42211645, 7.34330001,
       4.74740667, 5.88086101, 5.9773079 , 3.01609046, 4.0340054 ,
       4.13482796, 5.41748894, 4.25988878, 4.410782  , 4.57852845,
       3.35545059, 5.15717498, 3.9944541 , 5.59852697, 5.56119848,
       5.60929354, 2.94738345, 5.32594483, 5.3708191 , 4.83850243,
       4.90815947, 5.20754821, 4.52593704, 2.37978164, 5.37317695,
       6.43388082, 4.53777495, 4.16062725, 5.56001996, 4.59360188,
       4.73611423, 5.95742197, 5.84568872, 3.3001148 , 4.7340997 ,
       6.47008113, 5.90370832, 4.03835532, 4.8169004 , 4.13737788,
       4.95493503, 5.7146172 , 5.79323626, 4.83391761, 3.40454397,
       5.87297803, 4.83222985, 4.8511116 , 5.73530081, 6.12337324,
       4.52601389, 4.80222475, 5.34026631, 5.5667131 , 4.34304234,
       4.67020704, 2.58576985, 2.83228141, 6.60573888, 4.98928508,
       4.2595783 , 5.26870041, 5.83896749, 6.53581319, 4.68150814,
       5.9111954 , 7.04242005, 5.4918548 , 5.54893561, 3.50417191,
       6.4678332 , 3.93264149, 4.37409832, 3.98659124, 4.97035975,
       4.45684037, 5.75480858, 4.51469137, 5.13342661, 5.80293452,
       6.64714828, 5.19601682, 3.99441676, 6.44280581, 3.60996256,
       3.59709207, 5.38301977, 5.98990728, 5.47069456, 5.07230126,
       6.19410427, 5.20048194, 5.70241967, 3.52352598, 6.67210074,
       4.41293806, 4.61607498, 4.35438815, 4.98565762, 4.31163215,
       4.05765285, 7.11561457, 6.1387756 , 4.08335799, 6.30386633,
       6.29549455, 3.1241726 , 2.90742046, 5.31438353, 5.87753587,
       3.99560707, 4.70370768, 5.09376511, 4.18273875, 4.70405784,
       5.66153838, 6.05324733, 3.77774508, 4.77536493, 3.92003075,
       4.57429818, 5.32797667, 4.07717934, 5.11084589, 5.21403339,
       4.78508596, 5.68144086, 5.08095911, 3.90431861, 5.73862315,
       5.49413258, 3.79035976, 5.17669649, 5.63635098, 6.0780509 ,
       5.80127146, 4.96203683, 5.44712389, 4.17693844, 3.47240925,
       4.65816843, 3.70533949, 6.6283325 , 5.32541439, 4.04410803,
       3.33220131, 3.77444989, 5.71905659, 4.47795476, 5.09767514,
       3.53923095, 6.00581123, 4.99450356, 5.31192392, 4.47976293,
       5.49284768, 2.21566806, 6.21890068, 6.22392745, 5.22352842,
       3.04029486, 6.01864835, 6.09953595, 5.90208141, 5.8720596 ,
       5.01249667, 5.05051033, 4.04400062, 6.17673706, 4.94172247,
       5.1202781 , 2.68823259, 3.80206778, 5.24052036, 5.54882617,
       5.5152317 , 3.35737029, 3.80281535, 5.87179049, 5.60325474,
       6.70245679, 4.91983187, 6.01920634, 5.2542663 , 6.38488238,
       3.7719192 , 4.9556655 , 4.63450641, 5.81175203, 3.92017762,
       6.88552385, 5.48157918, 5.38752734, 7.52126082, 4.57501592,
       4.819083  , 5.54104162, 3.73396629, 6.6896533 , 3.97633603,
       5.18991989, 3.40236663, 4.39338324, 5.37306636, 4.33502598,
       5.05193712, 3.6496191 , 7.14378778, 5.49815825, 5.38821966,
       5.33375561, 5.6717357 , 4.35353114, 5.79811247, 4.95922625,
       6.86567233, 4.93958407, 4.23568667, 4.44134156, 6.30390077,
       4.63621448, 4.49344009, 5.03311657, 4.87995436, 4.54507579,
       6.55105569, 2.07048036, 6.66573191, 6.64582058, 6.02835413,
       4.45350577, 6.45766178, 2.13189091, 4.8505152 , 3.94630767,
       4.22556951, 7.09439426, 3.82271089, 5.60237848, 4.75723082,
       4.22481972, 4.96377615, 6.26851481, 1.3346384 , 4.55734409,
       4.334235  , 5.70588802, 4.65921503, 4.13669583, 3.90747713,
       5.05160376, 5.17597842, 4.24502822, 4.09287717, 4.79640394,
       5.96671133, 5.62663334, 4.37097462, 3.49602771, 5.13575971,
       5.81746306, 4.71850018, 5.39911746, 3.41495236, 5.12975195,
       6.61008638, 4.98038324, 4.82440265, 4.46664588, 5.21055043,
       5.18873851, 4.32483365, 5.47083081, 5.60432243, 2.5090997 ,
       4.96076106, 5.52863557, 4.02696826, 3.75076468, 5.96854775,
       5.30091964, 6.35131686, 4.99174427, 5.61616788, 5.67740585,
       5.88934605, 5.88098227, 3.80250806, 4.69251682, 3.40608837,
       5.17651447, 5.33667857, 4.60357581, 4.76181091, 4.38076493,
       6.28380632, 4.57340501, 6.90724216, 5.70352945, 4.37350021,
       4.57198003, 3.90196557, 5.64353211, 4.21997216, 7.29422693,
       3.58062846, 4.81239163, 4.66292946, 3.09447766, 5.2692065 ,
       6.13469141, 5.81995839, 4.44813516, 4.96633416, 4.24608945,
       4.50707084, 5.17506006, 4.16458942, 4.6488896 , 3.64498014,
       3.67000279, 4.07862003, 5.41908322, 5.62132948, 4.40779722,
       4.7680149 , 4.8734196 , 5.00135556, 5.74860907, 4.15871273,
       4.52422264, 6.39427822, 3.80456732, 3.62252499, 5.82027892,
       5.77553481, 3.60330213, 2.98185606, 5.58259279, 5.57472435,
       3.76254179, 4.64207928, 4.80936755, 4.74108694, 5.72259893,
       5.65988144, 4.16398527, 5.53143313, 5.35708392, 5.41543953,
       5.7171631 , 5.86418826, 5.28998157, 5.06358431, 6.98560376,
       4.87503714, 4.53400001, 6.4811798 , 5.19853277, 6.30586285,
       5.44269234, 4.37570757, 6.68338617, 3.05998297, 4.23272164,
       4.9003845 , 5.14480084, 3.27680223, 4.59353115, 4.20459325,
       5.32213302, 4.31109382, 4.63796323, 3.26559914, 4.75861171,
       4.72030767, 4.99630086, 6.03317923, 3.90176683, 5.20832329,
       3.73421006, 4.16631494, 5.34090898, 4.53503479, 4.0405388 ,
       6.88190727, 5.56866731, 5.76863588, 6.99545091, 4.48453169,
       5.24528092, 6.21568455, 1.69056744, 5.45504261, 5.2713994 ,
       5.24604009, 4.45264611, 3.35258076, 5.26646544, 5.1098949 ,
       3.01134272, 3.69228286, 4.88680792, 4.3340618 , 3.19958942,
       6.32940807, 3.40880625, 5.02644706, 7.87344395, 5.16159187,
       5.54312217, 5.09291879, 5.1125884 , 5.37106222, 6.76815538,
       5.30563545, 3.83459967, 4.98226278, 4.20744983, 4.77595806,
       5.06634604, 2.69617734, 5.80867848, 4.08564858, 5.39601638,
       6.41856482, 4.9774648 , 4.79553402, 6.58825931, 3.38171709])

####**Sidenote:** Sidenote: Setting seeds to recreate the same numbers

In [ ]:
print(np.random.normal(size=5))
print(np.random.normal(size=5))

[-1.31418325  0.94220128  1.21402604  1.98173522  1.54487031]
[ 0.15069935 -0.98538719 -0.00545831  0.31898334  1.84812018]

In [ ]:
#with seed
np.random.seed(1)
print(np.random.normal(size=5))

np.random.seed(1)
print(np.random.normal(size=5))
#Caution: you have to set the seed everytime (!)

[ 1.62434536 -0.61175641 -0.52817175 -1.07296862  0.86540763]
[ 1.62434536 -0.61175641 -0.52817175 -1.07296862  0.86540763]