#Python - Non-technical introduction

##Day 4 Session 1 "Don’t lose control: How to use conditions and loops?"

This file accompanies the lectures and provides the code for the corresponding slides.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

**Make sure to run the follwing code before continuing.** Code will prepare everything (load data, ...).

In [ ]:
#load the Pandas package
import pandas as pd
#load the numpy package
import numpy as np

#Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository.
myData=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv", sep=",")
#Adjust the format of column "TransDate" to datetime
myData["TransDate"]  = pd.to_datetime(myData["TransDate"], dayfirst=True)

###32 - If else statements

####**Slides:** if statement: Only execute some code if a condition is met

In [ ]:
#Be aware of the extra indent for the code that follows after the if statement.
x= -3
if x<0:
  print("x is a negative number")

x is a negative number

In [ ]:
x= 5
if x<0:
  print("x is a negative number")
#not output expected!

####**Slides:** else statement: Only execute some code if a condition is not met

In [ ]:
x = -3
if x < 0:
   print("x is a negative number")
else:
	print("x is either a positive number or zero")

x is a negative number

In [ ]:
x = 5
if x < 0:
   print("x is a negative number")
else:
	print("x is either a positive number or zero")

x is either a positive number or zero

####**Slides:** `else if` statement: Add an other case (2/7)

In [ ]:
x = -3
if x < 0:
   print("x is a negative number")
elif x==0:
	print("x is zero")
else:
	print("x is a positive number")

x is a negative number

In [ ]:
x = 5
if x < 0:
   print("x is a negative number")
elif x==0:
	print("x is zero")
else:
	print("x is a positive number")

x is a positive number

In [ ]:
x = 0
if x < 0:
   print("x is a negative number")
elif x==0:
	print("x is zero")
else:
	print("x is a positive number")

x is zero

###33 - Basic looping techniques

####**Slides:** `while loop`: Only execute some code if a condition is met

In [ ]:
x = 1
while x <= 7:
    print("x is set to " + str(x))
    x = x + 1

x is set to 1
x is set to 2
x is set to 3
x is set to 4
x is set to 5
x is set to 6
x is set to 7

####**Slide:** Sidenote: convert numerical values into strings and use "+" to combine characters and string

In [ ]:
x=0.52
print("The proportion of men is " + str(x) + " %.")

The proportion of men is 0.52 %.

####**Slides:** for loop: Repeat something as it belongs to a sequence (1/3)

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
for city in cities:
  print(city)

New York
Paris
London
Tokyo
Cape Town

####**Slide:** for loop: Take a break

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
for city in cities:
    if city =="London":
        break
    print(city)

New York
Paris

####**Slide:** for loop: Skip with continue

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
for city in cities:
    if city =="London":
        continue
    print(city)

New York
Paris
Tokyo
Cape Town

####**Slide:** for loop: Loop over numeric indices

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
for i in range(len(cities)):
    print(cities[i])

New York
Paris
London
Tokyo
Cape Town

###34 - Advanced looping techniques

####**Slide:** Store results of a loop in a list

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
wordLength=[]
for i in range(len(cities)):
     wordLength.append(len(cities[i]))
print(wordLength)

[8, 5, 6, 5, 9]

####**Slide:** Substitute loops with the map()-function

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
list(map(len,cities))

        Customer  TransDate  Quantity  PurchAmount    Cost    TransID
44541     100002 2004-12-29         1       499.95  349.00  123490350
44544     100340 2004-12-29         1        29.95   10.84  124295297
44601     100345 2004-12-29         1       189.95   82.91  124295449
44602     100346 2004-12-29         1        49.95   22.60  124295469
44635     100357 2004-12-30         1        29.95   10.00  124295845
...          ...        ...       ...          ...     ...        ...
223071    186299 2012-12-09         1        34.95   12.65  129592935
223070    186298 2012-12-09         1        49.95   17.00  129592815
216326    183058 2012-12-09         1        69.95   28.57  131969375
101290    121226 2012-12-09         1        19.95    9.50  131969793
223069    186297 2012-12-09         1        14.95    5.48  129592754

[98780 rows x 6 columns]

####**Slide:** Substitute loops with vectorization

In [ ]:
#load the numpy package
import numpy as np

a=[1,2,3]
a+a
a*10
#%%
a=np.array([1,2,3])
a+a

array([2, 4, 6])