#Python - Non-technical introduction

##Exercise Day 4 Session 3 "No data, no problem: How to simulate data?"

This file provides exercises accompanying the lectures.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

**Make sure to run the follwing code before continuing.** Code will prepare everything (load data, ...).

###38 - Creating sequences automatically

1. Simulate a dataset with 100 customers. The ID column should include customer IDs from `a1` to `a100`. Further, this dataset should include a second column indicating the months of 2016 for every customer. Months should be of the format `"2016-01-01"`("YYYY-MM-DD"). The final table should have one record per customer per month.

In [7]:
import random
import names
import pandas as pd
import datetime

random.seed(42)

In [3]:
NUMBER_OF_CUSTOMERS = 100
customer_id_row = [ 'a{index}'.format(index=i) for i in range(1, NUMBER_OF_CUSTOMERS+1)  ]

In [14]:
START_DATE = '2016-01-01'
END_DATE = '2016-12-01'

date_row = pd.date_range(START_DATE, END_DATE,
              freq='MS').strftime("%Y-%m-%d").tolist()

In [20]:
customer_id_row_per_date = []
date_row_per_customer = []
for i in range(0, len(customer_id_row)):
    for j in range(0, len(date_row)):
        customer_id_row_per_date.append(customer_id_row[i])
        date_row_per_customer.append(date_row[j])
print(len(customer_id_row_per_date), len(date_row_per_customer))

1200 1200

In [24]:
df = pd.DataFrame({'CustomerID':customer_id_row_per_date ,'CustomerDate':date_row_per_customer})
print (df)

     CustomerID CustomerDate
0            a1   2016-01-01
1            a1   2016-02-01
2            a1   2016-03-01
3            a1   2016-04-01
4            a1   2016-05-01
...         ...          ...
1195       a100   2016-08-01
1196       a100   2016-09-01
1197       a100   2016-10-01
1198       a100   2016-11-01
1199       a100   2016-12-01

[1200 rows x 2 columns]

In [26]:
us_date_format = "%Y-%m-%d"  # JoinDate, e.g., 1969-09-06
eu_date_format = "%d.%m.%Y"  # TransDate and Birthdate, e.g., 04.05.1987
#fix the Date format
df["CustomerDate"] = pd.to_datetime(
    df["CustomerDate"], format=us_date_format)

In [27]:
df

     CustomerID CustomerDate
0            a1   2016-01-01
1            a1   2016-02-01
2            a1   2016-03-01
3            a1   2016-04-01
4            a1   2016-05-01
...         ...          ...
1195       a100   2016-08-01
1196       a100   2016-09-01
1197       a100   2016-10-01
1198       a100   2016-11-01
1199       a100   2016-12-01

[1200 rows x 2 columns]

###39 - Simulating and manipulating strings

1. Generate a) a female full name b) a male first name.

In [40]:
def generate_sample_names_with_gender(number_of_samples=2):
    sample_names = []
    sample_genders = []
    

    for i in range(0, number_of_samples):
        name = ''
        gender = ''
        if random.random() < .5:
            name = names.get_full_name(gender="female")
            gender = "f"
        else:
            name = names.get_full_name(gender="male")
            gender = "m"
        sample_names.append(name)
        sample_genders.append(gender)
    return [sample_names, sample_genders]


sample_names, sample_genders = generate_sample_names_with_gender(
    len(customer_id_row))

In [41]:
name_row_per_date = []
gender_row_per_customer = []
for i in range(0, len(sample_names)):
    for j in range(0, len(date_row)):
        name_row_per_date.append(sample_names[i])
        gender_row_per_customer.append(sample_genders[i])
print(len(name_row_per_date), len(gender_row_per_customer))

1200 1200

In [42]:
df["CustomerName"] = name_row_per_date
df["CustomerGender"] = gender_row_per_customer

In [43]:
df

     CustomerID CustomerDate    CustomerName CustomerGender
0            a1   2016-01-01   Heather Henry              f
1            a1   2016-02-01   Heather Henry              f
2            a1   2016-03-01   Heather Henry              f
3            a1   2016-04-01   Heather Henry              f
4            a1   2016-05-01   Heather Henry              f
...         ...          ...             ...            ...
1195       a100   2016-08-01  Margaret Ramos              f
1196       a100   2016-09-01  Margaret Ramos              f
1197       a100   2016-10-01  Margaret Ramos              f
1198       a100   2016-11-01  Margaret Ramos              f
1199       a100   2016-12-01  Margaret Ramos              f

[1200 rows x 4 columns]

###40 - Simulating variables by using distributions

No exercise for this unit.