#Python - Non-technical introduction

##Exercise Day 4 Session 1 "Donâ€™t lose control: How to use conditions and loops"

This file provides exercises accompanying the lectures.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###32 - If else statements

1. Write an if-statement that prints "`x is a character`" if the variable x is a character and "`x is a postive integer`" if x is a positiv interger. *Hint:* Check the format of your input using `type()`.

In [49]:
x = 4
x = 'a'

if type(x) == str and len(x) == 1:
    print("x is a character")
if type(x) == int and x > 0:
    print("x is a positive integer")

x is a character

###33 - Basic loop techniques

1. Create a loop that prints a countdown from 10 by
a) using a for-loop, and
b) using a while-loop.

In [50]:
for i in range(10, -1, -1):
    print("Countdown: {countdown_number}".format(countdown_number=i))

Countdown: 10
Countdown: 9
Countdown: 8
Countdown: 7
Countdown: 6
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Countdown: 0

In [51]:
i = 10
while i >= 0:
    print("Countdown: {countdown_number}".format(countdown_number=i))
    i -= 1

Countdown: 10
Countdown: 9
Countdown: 8
Countdown: 7
Countdown: 6
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Countdown: 0

###34 - Advanced looping techniques

1. Use the `myData` DataFrame. Use a loop to go over all transactions and sum up the transaction's purchase amount one by one. Stop as soon as you reach a purchase amount of 1 million. At which date did the store reach this mark?

In [52]:
#load the numpy package
import numpy as np
#load the Pandas package
import pandas as pd

In [53]:
# Read in data
myData = pd.read_csv(
    "https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv")

In [54]:
us_date_format = "%Y-%m-%d"  # JoinDate, e.g., 1969-09-06
eu_date_format = "%d.%m.%Y"  # TransDate and Birthdate, e.g., 04.05.1987

In [55]:
#fix the Date format
myData["TransDate"] = pd.to_datetime(
    myData["TransDate"], format=eu_date_format)

In [56]:
myData

        Customer  TransDate  Quantity  PurchAmount    Cost    TransID
0         149332 2005-11-15         1       199.95  107.00  127998739
1         172951 2008-08-29         1       199.95  108.00  128888288
2         120621 2007-10-19         1        99.95   49.00  125375247
3         149236 2005-11-14         1        39.95   18.95  127996226
4         149236 2007-06-12         1        79.95   35.00  128670302
...          ...        ...       ...          ...     ...        ...
223186    199997 2012-09-17         1        29.95   13.80  132481149
223187    199997 2012-09-17         1        29.95   13.80  132481149
223188    199998 2012-09-17         1        29.95   13.80  132481154
223189    199999 2012-09-17         1       179.95  109.99  132481165
223190    199542 2012-09-17         1        39.95   10.50  131973368

[223191 rows x 6 columns]

In [57]:
sum_purch_amount = 0
sum_purch_amount_max = 1000000

# for loop not very nice
# myData = myData.reset_index()  # make sure indexes pair with number of rows
#for index, row in myData.iterrows():
    #print(row['PurchAmount'], row['TransDate'])
    #pass

index = 0
while index < len(myData):
    row = myData.iloc[index]
    
    row_purch_amount = row['PurchAmount']
    row_trans_date = row['TransDate']
    
    if sum_purch_amount + row_purch_amount < sum_purch_amount_max:
        sum_purch_amount += row_purch_amount
    else:
        sum_purch_amount += row_purch_amount
        print(row_trans_date)
        break

2005-11-15 00:00:00

2. Use a for loop to sum the first 10.000 transactions. Then use the vectorized `np.sum()` command to do the same. Compare the time used by both methods. *Hint:* Use `time.time()` of the time-module to obtain the current time as a floating point number expressed in seconds since the epoch before and after running your code of interest.

In [58]:
import time

NUMBER_OF_TRANSACTIONS = 10000
iter_sum = 0

iter_start = time.time()
for index, row in myData.iterrows():
    if index == NUMBER_OF_TRANSACTIONS:
        # we stop at 99999
        break
    else:
        iter_sum += row['PurchAmount']

iter_end = time.time()
iter_time = iter_end - iter_start
print("Sum: {iter_sum}".format(iter_sum = iter_sum))
print("Seconds needed in iterative appproach: {number_of_seconds}s".format(number_of_seconds = iter_time))

Sum: 866403.0699998735
Seconds needed in iterative appproach: 0.7409930229187012s

In [59]:
vec_sum = 0
vec_start = time.time()
myData_10000 = myData.iloc[0:NUMBER_OF_TRANSACTIONS, ]
#print(len(myData))
#print(len(myData_10000))
vec_sum = myData_10000['PurchAmount'].sum()
vec_end = time.time()
vec_time = vec_end - vec_start
print("Sum: {vec_sum}".format(vec_sum = vec_sum))
print("Seconds needed in iterative appproach: {number_of_seconds}s".format(number_of_seconds = vec_time))

Sum: 866403.0700000003
Seconds needed in iterative appproach: 0.0006279945373535156s

In [60]:
print("Vectorization saves us about {saved_percentage} % of the time".format(
    saved_percentage=1-(vec_time / iter_time * 100)))

Vectorization saves us about 0.9152496018275712 % of the time