#Python - Non-technical introduction

##Day 4 Session 2: "First be effective and then be efficient: How to use functions?"

This file accompanies the lectures and provides the code for the corresponding slides.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

**Make sure to run the follwing code before continuing.** Code will prepare everything (load data, ...).

In [ ]:
#load the Pandas package
import pandas as pd
#load the numpy package
import numpy as np

#Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository.
myData=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv", sep=",")
#Adjust the format of column "TransDate" to datetime
myData["TransDate"]  = pd.to_datetime(myData["TransDate"], dayfirst=True)

###35 - Understaning why to use functions

####**Slide:** A simple example:
Creating a function to add two variables

In [ ]:
#define the function
def add(x,y=1):
    result=x+y
    return result
#not output expected!

In [ ]:
#call the function
add(4)

5

In [ ]:
#call the function
add(4,5)

9

###36 - How to write a function

####**Slide:** Start with a simple problem - Use toy data

In [ ]:
import pandas as pd

d = {'PurchAmount': range(3,8), 'Cost': range(1,6)}
df = pd.DataFrame(data=d)
print(df)

   PurchAmount  Cost
0            3     1
1            4     2
2            5     3
3            6     4
4            7     5

####**Slide:** Get some working code

In [ ]:
(sum(df["PurchAmount"]) - sum(df["Cost"]))/sum(df["PurchAmount"]) * 100

40.0

####**Slide:** Rewrite the code using temporary variables

---

In [ ]:
x = df
r = "PurchAmount"
c = "Cost"

(sum(x[r]) - sum(x[c])) / sum(x[r]) * 100

40.0

####**Slides:** Turn your code into a function

In [ ]:
def ROI(x,r,c):
  roi = (sum(x[r]) - sum(x[c])) / sum(x[r]) * 100
  return roi

In [ ]:
ROI(df, "PurchAmount", "Cost")

40.0

####**Slide:** Apply your function

In [ ]:
ROI_1 = ROI(myData,"PurchAmount","Cost")
print(myData)

        Customer  TransDate  Quantity  PurchAmount    Cost    TransID        a
0         149332 2005-11-15         1       199.95  107.00  127998739  0.03999
1         172951 2008-08-29         1       199.95  108.00  128888288  0.03999
2         120621 2007-10-19         1        99.95   49.00  125375247  0.01999
3         149236 2005-11-14         1        39.95   18.95  127996226  0.00799
4         149236 2007-06-12         1        79.95   35.00  128670302  0.01599
...          ...        ...       ...          ...     ...        ...      ...
223186    199997 2012-09-17         1        29.95   13.80  132481149  0.00599
223187    199997 2012-09-17         1        29.95   13.80  132481149  0.00599
223188    199998 2012-09-17         1        29.95   13.80  132481154  0.00599
223189    199999 2012-09-17         1       179.95  109.99  132481165  0.03599
223190    199542 2012-09-17         1        39.95   10.50  131973368  0.00799

[223191 rows x 7 columns]

###37 - Tips and tricks for creating functions

####**Slide:** Advanced option: Return multiple objects

In [ ]:
def KPIs(x,r,c):
  x = pd.DataFrame(x)
  profit = sum(x[r]) - sum(x[c])
  roi = profit/sum(x[r]) *100
  return[profit, roi]

In [ ]:
KPIs(myData, "PurchAmount", "Cost")

[10077368.379919464, 53.64644090319827]

####**Slide:** Substitute loops with the map()-function

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Cape Town"]
list(map(len,cities))

        Customer  TransDate  Quantity  PurchAmount    Cost    TransID
44541     100002 2004-12-29         1       499.95  349.00  123490350
44544     100340 2004-12-29         1        29.95   10.84  124295297
44601     100345 2004-12-29         1       189.95   82.91  124295449
44602     100346 2004-12-29         1        49.95   22.60  124295469
44635     100357 2004-12-30         1        29.95   10.00  124295845
...          ...        ...       ...          ...     ...        ...
223071    186299 2012-12-09         1        34.95   12.65  129592935
223070    186298 2012-12-09         1        49.95   17.00  129592815
216326    183058 2012-12-09         1        69.95   28.57  131969375
101290    121226 2012-12-09         1        19.95    9.50  131969793
223069    186297 2012-12-09         1        14.95    5.48  129592754

[98780 rows x 6 columns]

####**Slide:** Sidenote: Extract components from lists

In [ ]:
#Call the function which provides a list as output
KPI_result = KPIs(myData,"PurchAmount","Cost")
#get the second element
KPI_result[0]

10077368.379919464

In [ ]:
#get the second element
KPI_result[1]

53.64644090319827