#Python - Non-technical introduction

##Exercise Day 3 Session 3: "Play with the Pros: How to use SQL for data wrangling（2/2）?"

This file provides exercises accompanying the lectures.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

1.   Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository. https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv
2.   Adjust the format of column "TransDate" to datetime
3.   get the datanase.sqlite (code is written below; Note: if you have download the same datebase in the other colab file in the meantime, the new database will be renamed as 'database.sqlite.1' rather than 'database.sqlite')

In [2]:
#load the sqlite3 package
import sqlite3
#Get the database file form Github and store it in the local working directory
#!wget https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/database.sqlite

In [3]:
#%% Import relevant modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

###29 - Select operations in SQL

1.	Open a connection to the database, create a cursor for the connection and show all tables.  Then use Pandas' read_sql_query() to read in the transactions table.

In [4]:
con = sqlite3.connect(database="database1.sqlite")
cursor = con.cursor()

In [5]:
cursor.execute("SELECT name FROM sqlite_master;")
tables = cursor.fetchall()
tables

[('transactions',), ('demographics',)]

2.	Show the IDs of all customers who purchased on 06.06.2012. How many customers purchased on that date? Please use DISTINCT Customer in your SQL query to account for duplicates.

In [6]:
cursor.execute("PRAGMA table_info('transactions') ")
cursor.fetchall()

[(0, 'Customer', 'INTEGER', 0, None, 0),
 (1, 'TransDate', 'TEXT', 0, None, 0),
 (2, 'Quantity', 'INTEGER', 0, None, 0),
 (3, 'PurchAmount', 'REAL', 0, None, 0),
 (4, 'Cost', 'REAL', 0, None, 0),
 (5, 'TransID', 'INTEGER', 0, None, 0),
 (6, 'TransKey', 'INTEGER', 0, None, 0)]

In [7]:
cursor.execute("SELECT TransDate FROM transactions")
cursor.fetchall()

[('2005-11-15 00:00',),
 ('2008-08-29 00:00',),
 ('2007-10-19 00:00',),
 ('2005-11-14 00:00',),
 ('2007-06-12 00:00',),
 ('2009-11-19 00:00',),
 ('2009-11-19 00:00',),
 ('2009-11-19 00:00',),
 ('2009-11-19 00:00',),
 ('2012-04-28 00:00',),
 ('2012-04-28 00:00',),
 ('2009-06-19 00:00',),
 ('2009-06-19 00:00',),
 ('2005-12-13 00:00',),
 ('2006-10-05 00:00',),
 ('2009-02-11 00:00',),
 ('2009-02-11 00:00',),
 ('2009-02-11 00:00',),
 ('2009-02-11 00:00',),
 ('2009-11-24 00:00',),
 ('2011-09-09 00:00',),
 ('2011-09-09 00:00',),
 ('2008-08-29 00:00',),
 ('2008-08-29 00:00',),
 ('2009-01-28 00:00',),
 ('2006-08-09 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2008-05-11 00:00',),
 ('2006-12-18 00:00',),
 ('2006-12-18 00:00',),
 ('2006-12-18 00:00',),
 ('2006-12-18 00:00',),
 ('2006-12-18 00:00',),
 ('2006-12-18 00:00',),
 ('2008-05-21 00:00',),
 ('2008-05-21 00:00',),
 ('2010-04-30 00:00',),
 ('2006-03-30 00:00',),
 ('2008-10-06 00:00',),
 ('2008-10-06 00:00',),
 ('2006-04-12 00:00',),
 ('2008-04-29 00:00',),
 ('2009-08-19 00:00',),
 ('2009-10-19 00:00',),
 ('2009-10-19 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-03-04 00:00',),
 ('2010-07-12 00:00',),
 ('2007-07-30 00:00',),
 ('2010-09-17 00:00',),
 ('2009-06-16 00:00',),
 ('2009-08-21 00:00',),
 ('2005-11-16 00:00',),
 ('2009-06-13 00:00',),
 ('2005-12-12 00:00',),
 ('2005-05-12 00:00',),
 ('2005-05-12 00:00',),
 ('2005-05-12 00:00',),
 ('2005-05-12 00:00',),
 ('2009-12-21 00:00',),
 ('2011-08-12 00:00',),
 ('2011-08-12 00:00',),
 ('2011-08-12 00:00',),
 ('2011-12-19 00:00',),
 ('2010-05-12 00:00',),
 ('2010-05-12 00:00',),
 ('2011-08-06 00:00',),
 ('2011-08-06 00:00',),
 ('2011-08-06 00:00',),
 ('2011-08-06 00:00',),
 ('2011-08-06 00:00',),
 ('2011-08-06 00:00',),
 ('2007-07-25 00:00',),
 ('2005-12-05 00:00',),
 ('2005-08-09 00:00',),
 ('2010-08-16 00:00',),
 ('2007-11-18 00:00',),
 ('2007-11-18 00:00',),
 ('2008-11-22 00:00',),
 ('2008-11-22 00:00',),
 ('2008-11-22 00:00',),
 ('2009-11-12 00:00',),
 ('2009-11-12 00:00',),
 ('2009-11-12 00:00',),
 ('2009-11-12 00:00',),
 ('2009-11-12 00:00',),
 ('2009-12-30 00:00',),
 ('2007-09-24 00:00',),
 ('2007-09-24 00:00',),
 ('2009-11-13 00:00',),
 ('2011-05-12 00:00',),
 ('2011-05-12 00:00',),
 ('2011-05-12 00:00',),
 ('2006-08-18 00:00',),
 ('2005-11-05 00:00',),
 ('2005-06-10 00:00',),
 ('2008-05-23 00:00',),
 ('2009-08-17 00:00',),
 ('2010-02-23 00:00',),
 ('2010-02-23 00:00',),
 ('2010-04-11 00:00',),
 ('2011-04-01 00:00',),
 ('2010-08-11 00:00',),
 ('2010-08-11 00:00',),
 ('2010-08-11 00:00',),
 ('2010-08-11 00:00',),
 ('2005-11-28 00:00',),
 ('2005-11-28 00:00',),
 ('2005-11-28 00:00',),
 ('2005-11-28 00:00',),
 ('2011-07-19 00:00',),
 ('2011-07-19 00:00',),
 ('2011-07-19 00:00',),
 ('2008-09-01 00:00',),
 ('2008-09-01 00:00',),
 ('2005-06-07 00:00',),
 ('2007-06-18 00:00',),
 ('2008-12-01 00:00',),
 ('2008-12-01 00:00',),
 ('2008-01-14 00:00',),
 ('2008-01-08 00:00',),
 ('2008-09-09 00:00',),
 ('2009-01-29 00:00',),
 ('2009-09-15 00:00',),
 ('2009-09-15 00:00',),
 ('2011-04-08 00:00',),
 ('2011-02-10 00:00',),
 ('2012-05-07 00:00',),
 ('2012-08-25 00:00',),
 ('2011-03-29 00:00',),
 ('2011-03-29 00:00',),
 ('2007-04-08 00:00',),
 ('2008-02-06 00:00',),
 ('2009-07-21 00:00',),
 ('2009-07-21 00:00',),
 ('2010-11-20 00:00',),
 ('2011-11-11 00:00',),
 ('2011-11-11 00:00',),
 ('2011-11-11 00:00',),
 ('2011-11-14 00:00',),
 ('2011-11-14 00:00',),
 ('2008-11-16 00:00',),
 ('2008-11-16 00:00',),
 ('2008-11-16 00:00',),
 ('2007-04-20 00:00',),
 ('2007-04-20 00:00',),
 ('2011-02-26 00:00',),
 ('2006-03-15 00:00',),
 ('2006-02-12 00:00',),
 ('2006-12-27 00:00',),
 ('2007-01-15 00:00',),
 ('2005-01-12 00:00',),
 ('2005-01-12 00:00',),
 ('2005-01-12 00:00',),
 ('2005-01-12 00:00',),
 ('2006-11-29 00:00',),
 ('2007-06-10 00:00',),
 ('2009-06-23 00:00',),
 ('2009-09-10 00:00',),
 ('2010-05-06 00:00',),
 ('2005-12-15 00:00',),
 ('2006-05-12 00:00',),
 ('2006-03-05 00:00',),
 ('2010-10-30 00:00',),
 ('2008-07-11 00:00',),
 ('2008-07-11 00:00',),
 ('2008-07-11 00:00',),
 ('2005-11-30 00:00',),
 ('2005-11-30 00:00',),
 ('2012-12-03 00:00',),
 ('2012-12-03 00:00',),
 ('2012-12-03 00:00',),
 ('2008-11-26 00:00',),
 ('2010-06-12 00:00',),
 ('2010-10-17 00:00',),
 ('2007-09-14 00:00',),
 ('2008-04-04 00:00',),
 ('2008-04-04 00:00',),
 ('2008-04-04 00:00',),
 ('2009-02-02 00:00',),
 ('2007-12-11 00:00',),
 ('2005-12-09 00:00',),
 ('2005-12-09 00:00',),
 ('2007-12-06 00:00',),
 ('2007-12-06 00:00',),
 ('2010-07-08 00:00',),
 ('2010-07-08 00:00',),
 ('2008-10-28 00:00',),
 ('2008-10-28 00:00',),
 ('2010-07-09 00:00',),
 ('2005-03-21 00:00',),
 ('2009-02-12 00:00',),
 ('2009-02-12 00:00',),
 ('2009-11-05 00:00',),
 ('2009-11-05 00:00',),
 ('2011-04-04 00:00',),
 ('2008-11-18 00:00',),
 ('2011-09-12 00:00',),
 ('2010-10-11 00:00',),
 ('2010-02-12 00:00',),
 ('2010-12-15 00:00',),
 ('2011-10-11 00:00',),
 ('2008-04-04 00:00',),
 ('2011-10-14 00:00',),
 ('2005-12-16 00:00',),
 ('2008-04-12 00:00',),
 ('2008-04-12 00:00',),
 ('2008-04-12 00:00',),
 ('2005-07-12 00:00',),
 ('2005-07-12 00:00',),
 ('2007-09-14 00:00',),
 ('2011-10-06 00:00',),
 ('2011-10-06 00:00',),
 ('2011-10-06 00:00',),
 ('2011-10-06 00:00',),
 ('2011-10-06 00:00',),
 ('2011-10-06 00:00',),
 ('2011-05-07 00:00',),
 ('2011-05-07 00:00',),
 ('2011-05-07 00:00',),
 ('2011-05-07 00:00',),
 ('2011-05-07 00:00',),
 ('2011-12-15 00:00',),
 ('2011-12-15 00:00',),
 ('2011-12-15 00:00',),
 ('2005-09-26 00:00',),
 ('2005-04-18 00:00',),
 ('2005-11-11 00:00',),
 ('2005-11-11 00:00',),
 ('2006-10-31 00:00',),
 ('2007-07-30 00:00',),
 ('2008-07-28 00:00',),
 ('2009-11-21 00:00',),
 ('2007-11-13 00:00',),
 ('2011-11-16 00:00',),
 ('2011-11-16 00:00',),
 ('2006-09-21 00:00',),
 ('2006-09-21 00:00',),
 ('2006-09-21 00:00',),
 ('2006-09-21 00:00',),
 ('2006-10-27 00:00',),
 ('2006-10-27 00:00',),
 ('2006-10-27 00:00',),
 ('2006-10-27 00:00',),
 ('2006-08-11 00:00',),
 ('2006-08-11 00:00',),
 ('2007-11-14 00:00',),
 ('2007-11-14 00:00',),
 ('2007-11-14 00:00',),
 ('2007-11-14 00:00',),
 ('2007-11-14 00:00',),
 ('2007-11-14 00:00',),
 ('2008-04-29 00:00',),
 ('2008-04-29 00:00',),
 ('2008-04-11 00:00',),
 ('2009-01-21 00:00',),
 ('2009-02-27 00:00',),
 ('2009-01-12 00:00',),
 ('2012-06-09 00:00',),
 ('2012-06-09 00:00',),
 ('2006-08-01 00:00',),
 ('2007-11-16 00:00',),
 ('2009-10-19 00:00',),
 ('2011-11-27 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2010-11-29 00:00',),
 ('2012-01-25 00:00',),
 ('2012-02-03 00:00',),
 ('2007-04-18 00:00',),
 ('2007-04-18 00:00',),
 ('2007-04-18 00:00',),
 ('2007-11-20 00:00',),
 ('2007-11-20 00:00',),
 ('2008-04-08 00:00',),
 ('2008-04-08 00:00',),
 ('2008-04-08 00:00',),
 ('2006-05-02 00:00',),
 ('2005-08-11 00:00',),
 ('2005-08-11 00:00',),
 ('2005-08-11 00:00',),
 ('2006-02-10 00:00',),
 ('2012-05-24 00:00',),
 ('2009-02-02 00:00',),
 ('2008-09-26 00:00',),
 ('2008-09-26 00:00',),
 ('2007-03-17 00:00',),
 ('2007-05-24 00:00',),
 ('2007-05-24 00:00',),
 ('2007-05-24 00:00',),
 ('2007-12-11 00:00',),
 ('2007-12-11 00:00',),
 ('2007-12-11 00:00',),
 ('2007-11-28 00:00',),
 ('2008-07-30 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2010-11-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-06-12 00:00',),
 ('2011-12-15 00:00',),
 ('2011-12-15 00:00',),
 ('2006-10-25 00:00',),
 ('2010-01-25 00:00',),
 ('2010-01-28 00:00',),
 ('2010-04-29 00:00',),
 ('2012-07-17 00:00',),
 ('2006-01-17 00:00',),
 ('2007-08-05 00:00',),
 ('2005-10-31 00:00',),
 ('2007-05-24 00:00',),
 ('2009-09-16 00:00',),
 ('2010-12-15 00:00',),
 ('2011-11-19 00:00',),
 ('2011-11-30 00:00',),
 ('2012-02-13 00:00',),
 ('2005-03-20 00:00',),
 ('2005-11-27 00:00',),
 ('2005-11-27 00:00',),
 ('2005-11-27 00:00',),
 ('2005-11-27 00:00',),
 ('2006-07-26 00:00',),
 ('2006-07-26 00:00',),
 ('2006-11-29 00:00',),
 ('2007-01-18 00:00',),
 ('2007-01-18 00:00',),
 ('2007-01-18 00:00',),
 ('2007-01-18 00:00',),
 ('2007-10-08 00:00',),
 ('2008-03-11 00:00',),
 ('2008-10-11 00:00',),
 ('2008-11-24 00:00',),
 ('2008-11-24 00:00',),
 ('2009-09-15 00:00',),
 ('2010-02-16 00:00',),
 ('2010-02-16 00:00',),
 ('2010-01-05 00:00',),
 ('2010-01-05 00:00',),
 ('2012-08-03 00:00',),
 ('2008-02-14 00:00',),
 ('2008-02-20 00:00',),
 ('2008-07-22 00:00',),
 ('2009-11-20 00:00',),
 ('2006-02-21 00:00',),
 ('2006-02-21 00:00',),
 ('2006-02-21 00:00',),
 ('2010-11-28 00:00',),
 ('2010-11-28 00:00',),
 ('2007-09-11 00:00',),
 ('2010-12-09 00:00',),
 ('2010-10-27 00:00',),
 ('2007-04-12 00:00',),
 ('2006-06-01 00:00',),
 ('2006-05-06 00:00',),
 ('2008-04-09 00:00',),
 ('2008-04-09 00:00',),
 ('2010-05-21 00:00',),
 ('2012-11-05 00:00',),
 ('2006-10-02 00:00',),
 ('2005-08-08 00:00',),
 ('2007-06-15 00:00',),
 ('2007-11-13 00:00',),
 ('2007-11-13 00:00',),
 ('2007-11-13 00:00',),
 ('2007-11-13 00:00',),
 ('2011-10-18 00:00',),
 ('2006-07-12 00:00',),
 ('2007-11-24 00:00',),
 ('2007-11-19 00:00',),
 ('2005-09-02 00:00',),
 ('2005-09-02 00:00',),
 ('2005-09-02 00:00',),
 ('2007-06-30 00:00',),
 ('2007-05-12 00:00',),
 ('2008-02-25 00:00',),
 ('2008-11-06 00:00',),
 ('2008-11-06 00:00',),
 ('2010-09-12 00:00',),
 ('2010-09-12 00:00',),
 ('2009-11-27 00:00',),
 ('2010-10-19 00:00',),
 ('2006-08-14 00:00',),
 ('2010-12-27 00:00',),
 ('2010-12-27 00:00',),
 ('2011-06-10 00:00',),
 ('2011-06-10 00:00',),
 ('2009-04-05 00:00',),
 ('2009-05-11 00:00',),
 ('2006-01-26 00:00',),
 ('2008-11-19 00:00',),
 ('2008-11-19 00:00',),
 ('2008-11-19 00:00',),
 ('2010-11-15 00:00',),
 ('2005-07-01 00:00',),
 ('2005-07-21 00:00',),
 ('2005-07-21 00:00',),
 ('2006-06-17 00:00',),
 ('2006-12-16 00:00',),
 ('2008-11-20 00:00',),
 ('2011-10-01 00:00',),
 ('2011-08-15 00:00',),
 ('2011-09-14 00:00',),
 ('2009-02-05 00:00',),
 ('2006-11-28 00:00',),
 ('2012-05-18 00:00',),
 ('2005-12-18 00:00',),
 ('2009-11-20 00:00',),
 ('2009-02-12 00:00',),
 ('2010-09-30 00:00',),
 ('2010-12-15 00:00',),
 ('2011-01-21 00:00',),
 ('2007-08-13 00:00',),
 ('2007-08-13 00:00',),
 ('2009-12-21 00:00',),
 ('2008-11-13 00:00',),
 ('2008-11-13 00:00',),
 ('2009-10-11 00:00',),
 ('2009-01-07 00:00',),
 ('2007-06-19 00:00',),
 ('2007-06-19 00:00',),
 ('2011-11-26 00:00',),
 ('2011-11-26 00:00',),
 ('2011-11-26 00:00',),
 ('2008-01-12 00:00',),
 ('2008-01-12 00:00',),
 ('2008-01-12 00:00',),
 ('2008-01-12 00:00',),
 ('2008-01-12 00:00',),
 ('2008-01-12 00:00',),
 ('2006-11-25 00:00',),
 ('2008-12-21 00:00',),
 ('2008-12-21 00:00',),
 ('2010-02-12 00:00',),
 ('2005-11-02 00:00',),
 ('2005-11-02 00:00',),
 ('2011-04-23 00:00',),
 ('2011-04-23 00:00',),
 ('2011-08-12 00:00',),
 ('2011-08-12 00:00',),
 ('2006-05-17 00:00',),
 ('2008-11-01 00:00',),
 ('2008-06-05 00:00',),
 ('2008-06-05 00:00',),
 ('2006-01-16 00:00',),
 ('2005-06-13 00:00',),
 ('2005-06-13 00:00',),
 ('2005-06-13 00:00',),
 ('2005-06-13 00:00',),
 ('2005-06-13 00:00',),
 ('2005-06-13 00:00',),
 ('2007-05-07 00:00',),
 ('2007-05-07 00:00',),
 ('2008-01-07 00:00',),
 ('2008-06-11 00:00',),
 ('2008-06-11 00:00',),
 ('2008-06-11 00:00',),
 ('2008-06-11 00:00',),
 ('2009-11-03 00:00',),
 ('2009-11-03 00:00',),
 ('2009-12-29 00:00',),
 ('2010-12-13 00:00',),
 ('2010-12-13 00:00',),
 ('2005-08-23 00:00',),
 ('2007-10-29 00:00',),
 ('2007-11-23 00:00',),
 ('2011-10-11 00:00',),
 ('2008-06-11 00:00',),
 ('2007-12-01 00:00',),
 ('2008-02-02 00:00',),
 ('2006-11-30 00:00',),
 ('2006-11-30 00:00',),
 ('2006-11-30 00:00',),
 ('2009-10-21 00:00',),
 ('2010-11-30 00:00',),
 ('2006-09-01 00:00',),
 ('2007-06-18 00:00',),
 ('2007-06-18 00:00',),
 ('2008-08-09 00:00',),
 ('2005-12-12 00:00',),
 ('2005-12-13 00:00',),
 ('2005-12-13 00:00',),
 ('2005-12-13 00:00',),
 ('2011-10-21 00:00',),
 ('2011-10-21 00:00',),
 ('2011-10-21 00:00',),
 ('2011-10-21 00:00',),
 ('2005-08-14 00:00',),
 ('2010-07-12 00:00',),
 ('2010-07-12 00:00',),
 ('2005-10-08 00:00',),
 ('2008-02-28 00:00',),
 ('2005-11-19 00:00',),
 ('2006-12-11 00:00',),
 ('2007-02-12 00:00',),
 ('2005-11-21 00:00',),
 ('2009-08-23 00:00',),
 ('2008-08-12 00:00',),
 ('2006-10-01 00:00',),
 ('2006-10-01 00:00',),
 ('2006-10-08 00:00',),
 ('2007-05-18 00:00',),
 ('2005-06-04 00:00',),
 ('2005-08-07 00:00',),
 ('2005-11-17 00:00',),
 ('2010-06-23 00:00',),
 ('2010-05-24 00:00',),
 ('2010-08-12 00:00',),
 ('2008-11-20 00:00',),
 ('2009-02-10 00:00',),
 ('2005-07-06 00:00',),
 ('2009-07-05 00:00',),
 ('2009-09-06 00:00',),
 ('2009-09-06 00:00',),
 ('2009-09-06 00:00',),
 ('2006-02-12 00:00',),
 ('2011-10-27 00:00',),
 ('2008-11-24 00:00',),
 ('2012-10-07 00:00',),
 ('2012-10-07 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2007-08-19 00:00',),
 ('2005-10-18 00:00',),
 ('2007-05-22 00:00',),
 ('2007-05-06 00:00',),
 ('2008-10-24 00:00',),
 ('2005-04-10 00:00',),
 ('2005-11-14 00:00',),
 ('2011-10-12 00:00',),
 ('2006-10-23 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-09-26 00:00',),
 ('2007-09-21 00:00',),
 ('2007-09-21 00:00',),
 ('2007-09-21 00:00',),
 ('2007-09-21 00:00',),
 ('2009-11-09 00:00',),
 ('2007-09-24 00:00',),
 ('2007-09-24 00:00',),
 ('2007-09-24 00:00',),
 ('2007-09-24 00:00',),
 ('2006-09-06 00:00',),
 ('2006-09-06 00:00',),
 ('2006-09-08 00:00',),
 ('2005-09-23 00:00',),
 ('2005-10-18 00:00',),
 ('2011-01-11 00:00',),
 ('2011-01-23 00:00',),
 ('2006-11-16 00:00',),
 ('2005-05-24 00:00',),
 ('2005-05-24 00:00',),
 ('2006-10-08 00:00',),
 ('2006-10-08 00:00',),
 ('2006-10-08 00:00',),
 ('2008-05-29 00:00',),
 ('2009-06-18 00:00',),
 ('2005-03-12 00:00',),
 ('2006-06-02 00:00',),
 ('2006-06-02 00:00',),
 ('2009-03-11 00:00',),
 ('2005-10-15 00:00',),
 ('2006-12-03 00:00',),
 ('2007-09-26 00:00',),
 ('2007-09-26 00:00',),
 ('2007-03-12 00:00',),
 ('2008-08-02 00:00',),
 ('2007-08-12 00:00',),
 ('2009-07-15 00:00',),
 ('2009-06-12 00:00',),
 ('2009-06-12 00:00',),
 ('2009-06-12 00:00',),
 ('2009-06-12 00:00',),
 ('2010-08-03 00:00',),
 ('2010-08-03 00:00',),
 ('2010-03-16 00:00',),
 ('2012-03-28 00:00',),
 ('2006-07-02 00:00',),
 ('2009-07-17 00:00',),
 ('2012-07-22 00:00',),
 ('2012-07-22 00:00',),
 ('2008-02-28 00:00',),
 ('2008-02-28 00:00',),
 ('2012-07-27 00:00',),
 ('2009-08-12 00:00',),
 ('2009-08-12 00:00',),
 ('2010-08-19 00:00',),
 ('2010-08-19 00:00',),
 ('2010-08-19 00:00',),
 ('2010-08-19 00:00',),
 ('2010-08-31 00:00',),
 ('2010-08-31 00:00',),
 ('2010-08-31 00:00',),
 ('2007-05-26 00:00',),
 ('2007-05-26 00:00',),
 ('2007-05-26 00:00',),
 ('2007-05-26 00:00',),
 ('2007-05-26 00:00',),
 ('2007-10-26 00:00',),
 ('2007-10-26 00:00',),
 ('2007-10-26 00:00',),
 ('2008-10-04 00:00',),
 ('2008-10-04 00:00',),
 ('2008-05-27 00:00',),
 ('2008-05-27 00:00',),
 ('2008-06-25 00:00',),
 ('2008-06-25 00:00',),
 ('2008-12-27 00:00',),
 ('2009-02-20 00:00',),
 ('2009-02-20 00:00',),
 ('2009-02-20 00:00',),
 ('2009-01-08 00:00',),
 ('2007-02-09 00:00',),
 ('2007-02-09 00:00',),
 ('2007-02-09 00:00',),
 ('2007-02-09 00:00',),
 ('2007-02-09 00:00',),
 ('2008-11-28 00:00',),
 ('2007-09-14 00:00',),
 ('2007-01-10 00:00',),
 ('2005-10-10 00:00',),
 ('2005-10-10 00:00',),
 ('2006-03-27 00:00',),
 ('2006-08-21 00:00',),
 ('2006-12-09 00:00',),
 ('2006-03-11 00:00',),
 ('2007-09-24 00:00',),
 ('2007-09-24 00:00',),
 ('2007-08-10 00:00',),
 ('2008-06-02 00:00',),
 ('2008-02-21 00:00',),
 ('2007-07-05 00:00',),
 ('2010-02-26 00:00',),
 ('2010-09-16 00:00',),
 ('2010-10-18 00:00',),
 ('2007-06-22 00:00',),
 ('2007-10-30 00:00',),
 ('2005-01-17 00:00',),
 ('2005-01-17 00:00',),
 ('2005-01-17 00:00',),
 ('2004-12-27 00:00',),
 ('2004-12-27 00:00',),
 ('2006-10-27 00:00',),
 ('2006-11-27 00:00',),
 ('2007-06-15 00:00',),
 ('2008-11-13 00:00',),
 ('2011-09-12 00:00',),
 ('2005-07-19 00:00',),
 ('2008-10-28 00:00',),
 ('2005-10-04 00:00',),
 ('2006-10-05 00:00',),
 ('2006-10-05 00:00',),
 ('2009-07-04 00:00',),
 ('2009-07-04 00:00',),
 ('2009-07-13 00:00',),
 ('2009-07-13 00:00',),
 ('2010-08-19 00:00',),
 ('2009-12-05 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2005-08-19 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2006-03-12 00:00',),
 ('2009-09-28 00:00',),
 ('2009-09-28 00:00',),
 ('2009-09-28 00:00',),
 ('2009-09-28 00:00',),
 ('2010-12-13 00:00',),
 ('2010-12-13 00:00',),
 ('2011-02-09 00:00',),
 ('2011-02-09 00:00',),
 ('2006-07-04 00:00',),
 ('2008-08-02 00:00',),
 ('2008-08-02 00:00',),
 ('2009-07-11 00:00',),
 ('2012-02-27 00:00',),
 ('2011-11-11 00:00',),
 ('2012-01-06 00:00',),
 ('2005-03-11 00:00',),
 ('2005-03-11 00:00',),
 ('2006-01-19 00:00',),
 ('2007-04-08 00:00',),
 ('2009-03-21 00:00',),
 ('2009-04-16 00:00',),
 ('2012-05-31 00:00',),
 ('2006-03-12 00:00',),
 ('2010-09-15 00:00',),
 ('2006-07-09 00:00',),
 ('2006-07-09 00:00',),
 ('2006-07-09 00:00',),
 ('2006-07-09 00:00',),
 ('2009-02-11 00:00',),
 ('2011-02-25 00:00',),
 ('2012-07-03 00:00',),
 ('2012-07-03 00:00',),
 ('2010-02-20 00:00',),
 ('2010-02-20 00:00',),
 ('2010-04-27 00:00',),
 ('2010-06-25 00:00',),
 ('2010-09-15 00:00',),
 ('2010-11-29 00:00',),
 ('2011-12-15 00:00',),
 ('2007-11-30 00:00',),
 ('2009-01-07 00:00',),
 ('2009-01-07 00:00',),
 ('2009-08-19 00:00',),
 ('2010-11-20 00:00',),
 ('2010-11-20 00:00',),
 ('2010-11-20 00:00',),
 ('2010-11-20 00:00',),
 ('2012-04-04 00:00',),
 ('2012-04-04 00:00',),
 ('2012-04-04 00:00',),
 ('2008-04-30 00:00',),
 ('2007-11-30 00:00',),
 ('2008-12-03 00:00',),
 ('2008-12-03 00:00',),
 ('2006-05-29 00:00',),
 ('2005-12-01 00:00',),
 ('2008-12-31 00:00',),
 ('2010-07-20 00:00',),
 ('2010-07-20 00:00',),
 ('2012-04-26 00:00',),
 ('2007-07-27 00:00',),
 ('2007-07-27 00:00',),
 ('2007-07-27 00:00',),
 ('2009-09-02 00:00',),
 ('2009-10-12 00:00',),
 ('2005-02-12 00:00',),
 ('2006-12-04 00:00',),
 ('2006-12-04 00:00',),
 ('2006-12-04 00:00',),
 ('2007-02-28 00:00',),
 ('2009-10-19 00:00',),
 ('2009-10-19 00:00',),
 ('2010-03-16 00:00',),
 ('2010-03-16 00:00',),
 ('2010-11-05 00:00',),
 ('2012-07-06 00:00',),
 ('2012-07-06 00:00',),
 ('2012-09-13 00:00',),
 ('2012-09-13 00:00',),
 ('2007-06-12 00:00',),
 ('2006-03-09 00:00',),
 ('2007-10-30 00:00',),
 ('2007-11-13 00:00',),
 ('2012-02-21 00:00',),
 ('2008-06-12 00:00',),
 ('2008-06-12 00:00',),
 ('2007-06-16 00:00',),
 ('2007-06-16 00:00',),
 ('2011-10-25 00:00',),
 ('2005-12-12 00:00',),
 ('2005-10-12 00:00',),
 ('2005-05-18 00:00',),
 ('2005-05-18 00:00',),
 ('2006-11-29 00:00',),
 ('2006-11-29 00:00',),
 ('2008-10-03 00:00',),
 ('2008-10-03 00:00',),
 ('2008-10-03 00:00',),
 ('2008-11-06 00:00',),
 ('2007-03-21 00:00',),
 ('2007-04-17 00:00',),
 ('2007-04-26 00:00',),
 ('2010-04-11 00:00',),
 ('2010-04-11 00:00',),
 ('2010-04-11 00:00',),
 ('2011-02-02 00:00',),
 ('2011-02-02 00:00',),
 ('2011-08-15 00:00',),
 ('2008-08-20 00:00',),
 ('2008-08-20 00:00',),
 ('2008-08-20 00:00',),
 ('2008-08-20 00:00',),
 ('2008-08-20 00:00',),
 ('2008-08-20 00:00',),
 ('2011-06-27 00:00',),
 ('2006-06-12 00:00',),
 ('2007-01-23 00:00',),

In [8]:
cursor.execute("SELECT DISTINCT Customer FROM transactions WHERE TransDate = '2012-06-06 00:00'")
cursor.fetchall()

[(198997,),
 (170451,),
 (163179,),
 (198991,),
 (150982,),
 (103704,),
 (119064,),
 (169320,),
 (149437,),
 (143802,),
 (168960,),
 (169400,),
 (187292,),
 (180790,),
 (140674,),
 (140899,),
 (192392,),
 (193271,),
 (166094,),
 (197259,),
 (197383,),
 (197496,),
 (197859,),
 (183825,),
 (184183,),
 (198990,),
 (184757,),
 (184758,),
 (184759,),
 (184760,),
 (198992,),
 (198993,),
 (189130,),
 (184761,),
 (184762,),
 (184763,),
 (198994,),
 (198995,),
 (198996,),
 (184764,),
 (184765,),
 (184766,),
 (198998,),
 (184767,),
 (184768,),
 (184769,),
 (184770,),
 (184771,),
 (184772,),
 (198999,),
 (184773,),
 (199000,),
 (184774,),
 (184775,),
 (184776,),
 (199001,),
 (199002,),
 (184777,),
 (184778,),
 (184779,)]

In [9]:
cursor.execute("SELECT DISTINCT Count(*) FROM transactions WHERE TransDate = '2012-06-06 00:00'")
cursor.fetchall()

[(98,)]

In [10]:
cursor.execute("SELECT DISTINCT Count(*) FROM transactions WHERE date(TransDate) = date('2012-06-06')")
cursor.fetchall()

[(98,)]

3.	Calculate the new variable NetSales, which is the difference between purchase amount and cost per transaction. Check your results by taking a look at the whole table.

In [11]:
cursor.execute("SELECT t.Customer, t.PurchAmount, t.Cost, t.PurchAmount - t.Cost  AS NetSales FROM transactions as t")
cursor.fetchall()

[(149332, 199.95, 107.0, 92.94999999999999),
 (172951, 199.95, 108.0, 91.94999999999999),
 (120621, 99.95, 49.0, 50.95),
 (149236, 39.95, 18.95, 21.000000000000004),
 (149236, 79.95, 35.0, 44.95),
 (140729, 129.95, 59.0, 70.94999999999999),
 (140729, 79.95, 39.18, 40.77),
 (140729, 24.95, 11.5, 13.45),
 (140729, 7.95, 2.96, 4.99),
 (140729, 89.95, 35.0, 54.95),
 (140729, 69.95, 26.4, 43.550000000000004),
 (180970, 119.95, 58.46, 61.49),
 (180970, 27.95, 12.51, 15.44),
 (149332, 49.95, 24.87, 25.080000000000002),
 (149332, 24.95, 12.5, 12.45),
 (182927, 59.9, 15.92, 43.98),
 (182927, 34.95, 15.75, 19.200000000000003),
 (182927, 129.95, 63.08, 66.86999999999999),
 (182927, 24.95, 8.0, 16.95),
 (182927, 34.95, 15.75, 19.200000000000003),
 (182927, 79.95, 17.7, 62.25),
 (182927, 99.95, 36.0, 63.95),
 (172951, 249.95, 162.5, 87.44999999999999),
 (172951, 349.95, 187.5, 162.45),
 (172951, 89.95, 44.98, 44.970000000000006),
 (103952, 69.95, 30.0, 39.95),
 (103952, 119.95, 58.6, 61.35),
 (103952, 24.95, 11.5, 13.45),
 (103952, 49.95, 21.0, 28.950000000000003),
 (103952, 59.95, 19.97, 39.980000000000004),
 (103952, 19.95, 5.35, 14.6),
 (103952, 19.95, 5.47, 14.48),
 (103952, 19.95, 5.35, 14.6),
 (105474, 49.95, 25.0, 24.950000000000003),
 (105474, 129.95, 61.1, 68.85),
 (105474, 39.95, 25.99, 13.960000000000004),
 (105474, 49.95, 23.0, 26.950000000000003),
 (105474, 39.95, 16.7, 23.250000000000004),
 (105474, 59.95, 27.95, 32.0),
 (105474, 49.95, 24.0, 25.950000000000003),
 (105474, 269.95, 92.89, 177.06),
 (105474, 349.95, 160.0, 189.95),
 (103744, 119.95, 44.5, 75.45),
 (103744, 99.95, 44.1, 55.85),
 (103744, 29.95, 11.47, 18.479999999999997),
 (103744, 179.9, 80.96, 98.94000000000001),
 (103744, 35.0, 17.5, 17.5),
 (103744, 59.95, 24.0, 35.95),
 (103744, 79.95, 30.0, 49.95),
 (103744, 79.95, 30.0, 49.95),
 (103744, 69.95, 28.0, 41.95),
 (103744, 69.95, 28.0, 41.95),
 (103744, 19.95, 2.3, 17.65),
 (103744, 19.95, 2.3, 17.65),
 (103744, 19.95, 2.3, 17.65),
 (103744, 19.95, 2.3, 17.65),
 (103744, 69.95, 30.1, 39.85),
 (103744, 39.95, 19.5, 20.450000000000003),
 (103744, 39.95, 19.5, 20.450000000000003),
 (103744, 79.95, 33.6, 46.35),
 (163588, 59.95, 30.0, 29.950000000000003),
 (192276, 69.95, 19.95, 50.0),
 (180918, 69.95, 28.85, 41.1),
 (180918, 149.95, 68.0, 81.94999999999999),
 (149442, 29.95, 13.6, 16.35),
 (149442, 29.95, 12.35, 17.6),
 (107959, 49.95, 41.0, 8.950000000000003),
 (150816, 24.95, 9.0, 15.95),
 (150816, 39.95, 18.0, 21.950000000000003),
 (150816, 69.95, 18.75, 51.2),
 (150816, 69.95, 18.75, 51.2),
 (190659, 39.95, 15.98, 23.970000000000002),
 (190659, 69.95, 34.0, 35.95),
 (190659, 49.95, 20.25, 29.700000000000003),
 (190659, 129.95, 50.71, 79.23999999999998),
 (190659, 119.95, 51.31, 68.64),
 (193871, 49.95, 23.0, 26.950000000000003),
 (193871, 9.95, 4.5, 5.449999999999999),
 (193871, 119.95, 65.0, 54.95),
 (193871, 249.95, 108.0, 141.95),
 (193871, 14.95, 7.5, 7.449999999999999),
 (193871, 149.95, 50.5, 99.44999999999999),
 (193871, 14.95, 5.95, 9.0),
 (193871, 14.95, 7.3, 7.6499999999999995),
 (163507, 49.95, 22.6, 27.35),
 (146224, 64.95, 24.5, 40.45),
 (147492, 99.95, 40.0, 59.95),
 (147492, 99.95, 53.46, 46.49),
 (166430, 24.95, 9.06, 15.889999999999999),
 (166430, 49.95, 20.3, 29.650000000000002),
 (166430, 49.95, 19.78, 30.17),
 (166430, 49.95, 20.3, 29.650000000000002),
 (166430, 24.95, 10.4, 14.549999999999999),
 (166430, 69.95, 29.77, 40.18000000000001),
 (166430, 49.95, 14.0, 35.95),
 (166430, 59.9, 26.28, 33.62),
 (166430, 49.95, 19.68, 30.270000000000003),
 (166430, 49.95, 14.0, 35.95),
 (166430, 54.95, 22.6, 32.35),
 (187038, 39.95, 22.63, 17.320000000000004),
 (187038, 39.95, 22.63, 17.320000000000004),
 (187038, 249.95, 93.0, 156.95),
 (187038, 39.95, 17.5, 22.450000000000003),
 (187038, 89.95, 25.0, 64.95),
 (187038, 89.95, 25.0, 64.95),
 (155011, 69.95, 30.0, 39.95),
 (155011, 59.95, 25.0, 34.95),
 (155011, 29.95, 12.0, 17.95),
 (155011, 69.95, 30.0, 39.95),
 (155011, 99.95, 45.0, 54.95),
 (155011, 59.95, 26.5, 33.45),
 (155011, 59.95, 16.0, 43.95),
 (155011, 119.95, 60.61, 59.34),
 (155011, 69.95, 29.1, 40.85),
 (192852, 29.95, 9.49, 20.46),
 (192852, 149.85, 67.98, 81.86999999999999),
 (192852, 14.85, 3.24, 11.61),
 (192852, 14.85, 3.24, 11.61),
 (105623, 79.95, 36.0, 43.95),
 (105623, 3.95, 1.73, 2.22),
 (105623, 29.95, 11.75, 18.2),
 (105623, 99.95, 65.0, 34.95),
 (105623, 39.95, 14.03, 25.92),
 (105623, 99.95, 38.5, 61.45),
 (105623, 39.95, 17.5, 22.450000000000003),
 (126172, 99.95, 60.0, 39.95),
 (126172, 59.95, 24.0, 35.95),
 (126172, 49.95, 22.5, 27.450000000000003),
 (126172, 124.75, 45.0, 79.75),
 (126172, 99.95, 45.0, 54.95),
 (126172, 29.95, 12.0, 17.95),
 (126172, 99.95, 45.0, 54.95),
 (126172, 199.95, 79.98, 119.96999999999998),
 (126172, 159.9, 92.24, 67.66000000000001),
 (126172, 44.95, 31.13, 13.820000000000004),
 (126172, 39.95, 15.98, 23.970000000000002),
 (126172, 39.95, 15.98, 23.970000000000002),
 (126172, 129.95, 89.99, 39.959999999999994),
 (126172, 59.95, 15.0, 44.95),
 (126172, 169.95, 102.2, 67.74999999999999),
 (126172, 129.95, 60.0, 69.94999999999999),
 (195110, 24.95, 10.25, 14.7),
 (195110, 9.95, 5.5, 4.449999999999999),
 (163652, 99.95, 34.15, 65.80000000000001),
 (163652, 79.95, 35.0, 44.95),
 (163652, 59.95, 24.0, 35.95),
 (163652, 69.95, 35.0, 34.95),
 (163652, 69.95, 25.5, 44.45),
 (196783, 69.95, 28.0, 41.95),
 (196783, 69.95, 28.0, 41.95),
 (196783, 69.95, 28.0, 41.95),
 (196783, 69.95, 26.6, 43.35),
 (196783, 9.95, 0.0, 9.95),
 (132010, 34.95, 12.5, 22.450000000000003),
 (132010, 34.95, 12.5, 22.450000000000003),
 (132010, 34.95, 12.5, 22.450000000000003),
 (162318, 69.95, 36.0, 33.95),
 (162318, 29.95, 12.35, 17.6),
 (162318, 129.95, 66.58, 63.36999999999999),
 (153293, 429.95, 180.0, 249.95),
 (186838, 119.95, 56.38, 63.57),
 (186838, 119.95, 56.38, 63.57),
 (186838, 79.95, 36.0, 43.95),
 (150478, 29.95, 12.17, 17.78),
 (150478, 29.95, 13.5, 16.45),
 (150478, 3.95, 1.73, 2.22),
 (150478, 24.95, 11.88, 13.069999999999999),
 (113947, 49.95, 14.98, 34.97),
 (113947, 99.95, 49.0, 50.95),
 (181006, 54.95, 24.99, 29.960000000000004),
 (181006, 99.95, 41.65, 58.300000000000004),
 (181006, 64.95, 27.3, 37.650000000000006),
 (103550, 99.95, 34.05, 65.9),
 (103550, 69.95, 29.25, 40.7),
 (103550, 59.95, 26.45, 33.5),
 (103550, 29.95, 13.8, 16.15),
 (174719, 199.95, 91.67, 108.27999999999999),
 (174719, 199.95, 91.67, 108.27999999999999),
 (174719, 49.95, 22.05, 27.900000000000002),
 (150372, 119.95, 53.5, 66.45),
 (150372, 79.95, 36.0, 43.95),
 (198566, 59.95, 29.0, 30.950000000000003),
 (198566, 169.95, 102.2, 67.74999999999999),
 (198566, 139.9, 72.52, 67.38000000000001),
 (176059, 29.95, 18.95, 11.0),
 (176059, 49.95, 14.15, 35.800000000000004),
 (154135, 39.95, 20.0, 19.950000000000003),
 (120063, 79.95, 28.9, 51.050000000000004),
 (120063, 71.95, 60.6, 11.350000000000001),
 (120063, 139.95, 105.0, 34.94999999999999),
 (120063, 59.95, 43.38, 16.57),
 (179199, 54.95, 22.6, 32.35),
 (187123, 129.95, 45.0, 84.94999999999999),
 (147585, 99.95, 50.0, 49.95),
 (147585, 39.95, 14.5, 25.450000000000003),
 (162965, 79.9, 21.1, 58.800000000000004),
 (162965, 29.95, 10.25, 19.7),
 (162965, 39.95, 17.4, 22.550000000000004),
 (162965, 49.95, 22.5, 27.450000000000003),
 (174250, 149.95, 57.33, 92.61999999999999),
 (174250, 129.95, 43.7, 86.24999999999999),
 (174250, 49.95, 16.23, 33.72),
 (145705, 49.95, 22.6, 27.35),
 (190065, 39.95, 15.98, 23.970000000000002),
 (190065, 39.95, 15.98, 23.970000000000002),
 (187768, 299.95, 200.0, 99.94999999999999),
 (187768, 19.95, 15.6, 4.35),
 (187768, 99.95, 44.98, 54.970000000000006),
 (175322, 79.95, 36.0, 43.95),
 (197774, 69.95, 41.0, 28.950000000000003),
 (192890, 29.95, 15.0, 14.95),
 (193694, 39.95, 19.2, 20.750000000000004),
 (193694, 34.95, 15.75, 19.200000000000003),
 (193694, 49.95, 17.48, 32.47),
 (170823, 109.9, 45.2, 64.7),
 (196391, 49.95, 14.78, 35.17),
 (108559, 39.95, 18.0, 21.950000000000003),
 (176784, 89.95, 33.4, 56.550000000000004),
 (176784, 149.95, 72.75, 77.19999999999999),
 (176784, 24.95, 10.4, 14.549999999999999),
 (151046, 199.95, 104.0, 95.94999999999999),
 (151046, 79.95, 38.0, 41.95),
 (151046, 119.95, 65.0, 54.95),
 (195566, 99.95, 40.0, 59.95),
 (195566, 69.95, 27.0, 42.95),
 (195566, 199.95, 100.0, 99.94999999999999),
 (195566, 129.95, 90.0, 39.94999999999999),
 (195566, 59.95, 18.36, 41.59),
 (195566, 29.95, 11.0, 18.95),
 (195566, 29.95, 11.0, 18.95),
 (195566, 29.95, 11.0, 18.95),
 (195566, 29.95, 11.0, 18.95),
 (195566, 29.95, 11.0, 18.95),
 (195566, 29.95, 11.0, 18.95),
 (195566, 139.95, 58.25, 81.69999999999999),
 (195566, 89.95, 23.0, 66.95),
 (195566, 99.95, 41.05, 58.900000000000006),
 (102142, 189.95, 86.11, 103.83999999999999),
 (102142, 34.95, 15.1, 19.85),
 (102142, 24.95, 7.33, 17.619999999999997),
 (102142, 39.95, 16.7, 23.250000000000004),
 (102142, 39.95, 16.7, 23.250000000000004),
 (102142, 99.95, 49.99, 49.96),
 (102142, 149.95, 63.0, 86.94999999999999),
 (102142, 149.95, 69.99, 79.96),
 (166057, 89.95, 41.99, 47.96),
 (166057, 29.95, 13.75, 16.2),
 (166057, 4.95, 1.08, 3.87),
 (155576, 39.95, 18.85, 21.1),
 (155576, 169.95, 87.14, 82.80999999999999),
 (155576, 24.95, 11.0, 13.95),
 (155576, 39.95, 17.7, 22.250000000000004),
 (155576, 269.95, 162.49, 107.45999999999998),
 (155576, 7.95, 3.3, 4.65),
 (155576, 269.95, 162.49, 107.45999999999998),
 (155576, 7.95, 3.3, 4.65),
 (155576, 269.95, 162.49, 107.45999999999998),
 (155576, 7.95, 3.3, 4.65),
 (155576, 34.95, 16.0, 18.950000000000003),
 (155576, 34.95, 16.0, 18.950000000000003),
 (155576, 44.95, 23.0, 21.950000000000003),
 (155576, 49.95, 22.48, 27.470000000000002),
 (155576, 3.95, 1.73, 2.22),
 (155576, 49.95, 21.0, 28.950000000000003),
 (155576, 39.95, 19.18, 20.770000000000003),
 (155576, 39.95, 19.18, 20.770000000000003),
 (155576, 39.95, 18.8, 21.150000000000002),
 (155576, 39.9, 23.36, 16.54),
 (155576, 599.95, 300.0, 299.95000000000005),
 (155576, 129.95, 50.46, 79.48999999999998),
 (155576, 169.95, 102.2, 67.74999999999999),
 (155576, 69.95, 36.26, 33.690000000000005),
 (152358, 39.95, 16.4, 23.550000000000004),
 (152358, 44.95, 20.58, 24.370000000000005),
 (152358, 149.95, 65.3, 84.64999999999999),
 (152358, 69.95, 27.16, 42.790000000000006),
 (193530, 69.95, 19.26, 50.69),
 (193530, 99.95, 35.0, 64.95),
 (193530, 39.95, 25.13, 14.820000000000004),
 (193530, 24.95, 10.3, 14.649999999999999),
 (193530, 39.9, 14.1, 25.799999999999997),
 (193530, 49.95, 35.93, 14.020000000000003),
 (193530, 19.95, 7.05, 12.899999999999999),
 (193530, 24.95, 9.65, 15.299999999999999),
 (193530, 79.9, 13.56, 66.34),
 (193530, 79.95, 40.0, 39.95),
 (162273, 249.95, 125.0, 124.94999999999999),
 (162273, 39.95, 20.0, 19.950000000000003),
 (162273, 29.95, 10.0, 19.95),
 (162273, 49.95, 20.75, 29.200000000000003),
 (162273, 49.9, 21.0, 28.9),
 (162273, 29.95, 13.0, 16.95),
 (162273, 35.0, 17.5, 17.5),
 (162273, 79.95, 41.9, 38.050000000000004),
 (109348, 49.95, 22.6, 27.35),
 (148925, 29.95, 13.5, 16.45),
 (148925, 34.95, 16.75, 18.200000000000003),
 (148925, 29.95, 10.25, 19.7),
 (155771, 59.95, 31.5, 28.450000000000003),
 (198929, 24.95, 7.25, 17.7),
 (136364, 39.95, 18.66, 21.290000000000003),
 (173491, 49.95, 22.0, 27.950000000000003),
 (173491, 69.95, 20.75, 49.2),
 (161773, 99.95, 63.0, 36.95),
 (161773, 24.95, 9.05, 15.899999999999999),
 (161773, 12.95, 2.7, 10.25),
 (161773, 29.95, 12.0, 17.95),
 (161773, 39.95, 19.4, 20.550000000000004),
 (161773, 39.95, 16.0, 23.950000000000003),
 (161773, 39.95, 16.0, 23.950000000000003),
 (161773, 79.9, 32.0, 47.900000000000006),
 (161773, 129.95, 63.7, 66.24999999999999),
 (161773, 59.9, 33.0, 26.9),
 (161773, 39.95, 18.0, 21.950000000000003),
 (161773, 29.95, 14.5, 15.45),
 (161773, 9.9, 2.16, 7.74),
 (161773, 79.9, 50.56, 29.340000000000003),
 (161773, 9.9, 2.16, 7.74),
 (161773, 19.8, 4.32, 15.48),
 (161773, 39.95, 14.0, 25.950000000000003),
 (161773, 7.95, 2.56, 5.390000000000001),
 (161773, 49.95, 38.75, 11.200000000000003),
 (161773, 159.95, 69.95, 89.99999999999999),
 (161773, 29.95, 13.0, 16.95),
 (161773, 39.95, 12.5, 27.450000000000003),
 (161773, 79.9, 33.0, 46.900000000000006),
 (161773, 39.95, 16.0, 23.950000000000003),
 (161773, 19.95, 10.5, 9.45),
 (161773, 39.95, 14.0, 25.950000000000003),
 (161773, 4.95, 1.08, 3.87),
 (161773, 49.95, 21.75, 28.200000000000003),
 (161773, 4.95, 1.08, 3.87),
 (161773, 99.95, 46.5, 53.45),
 (161773, 24.95, 14.09, 10.86),
 (161773, 4.95, 2.19, 2.7600000000000002),
 (161773, 39.95, 14.6, 25.35),
 (161773, 59.9, 29.0, 30.9),
 (161773, 39.95, 16.5, 23.450000000000003),
 (161773, 39.95, 16.5, 23.450000000000003),
 (156215, 19.9, 7.2, 12.7),
 (156215, 39.95, 19.5, 20.450000000000003),
 (156215, 119.95, 50.0, 69.95),
 (156215, 59.95, 24.0, 35.95),
 (156215, 99.95, 41.05, 58.900000000000006),
 (152518, 179.95, 82.5, 97.44999999999999),
 (162540, 49.95, 24.0, 25.950000000000003),
 (148548, 109.95, 50.93, 59.02),
 (148548, 129.95, 61.1, 68.85),
 (148548, 99.95, 53.27, 46.68),
 (148548, 49.95, 24.25, 25.700000000000003),
 (148548, 119.95, 52.8, 67.15),
 (148548, 59.95, 25.68, 34.27),
 (148548, 39.95, 25.9, 14.050000000000004),
 (145691, 49.95, 25.0, 24.950000000000003),
 (145691, 29.95, 14.05, 15.899999999999999),
 (145691, 6.95, 3.25, 3.7),
 (145691, 69.95, 31.5, 38.45),
 (145691, 6.95, 3.25, 3.7),
 (145691, 224.95, 103.46, 121.49),
 (145691, 44.95, 19.76, 25.19),
 (145691, 149.95, 57.19, 92.75999999999999),
 (145691, 69.95, 34.0, 35.95),
 (145691, 69.95, 34.0, 35.95),
 (145691, 69.95, 34.0, 35.95),
 (145691, 29.95, 10.5, 19.45),
 (145691, 69.95, 34.0, 35.95),
 (145691, 69.95, 34.0, 35.95),
 (145691, 59.95, 30.0, 29.950000000000003),
 (145691, 59.95, 24.0, 35.95),
 (145691, 59.95, 29.51, 30.44),
 (145691, 59.95, 48.34, 11.61),
 (145691, 279.95, 134.0, 145.95),
 (145691, 44.95, 19.76, 25.19),
 (145691, 99.95, 50.0, 49.95),
 (145691, 59.95, 30.0, 29.950000000000003),
 (189052, 119.9, 58.0, 61.900000000000006),
 (170060, 39.95, 22.78, 17.17),
 (126873, 59.95, 18.05, 41.900000000000006),
 (126873, 44.95, 17.75, 27.200000000000003),
 (189711, 199.95, 84.5, 115.44999999999999),
 (153009, 9.95, 7.5, 2.4499999999999993),
 (153009, 16.95, 15.07, 1.879999999999999),
 (153009, 7.95, 4.8, 3.1500000000000004),
 (153009, 69.95, 35.0, 34.95),
 (153009, 99.8, 29.0, 70.8),
 (165869, 59.95, 26.13, 33.82000000000001),
 (165869, 79.95, 30.78, 49.17),
 (165869, 99.95, 18.52, 81.43),
 (106638, 29.95, 11.0, 18.95),
 (106638, 69.95, 34.95, 35.0),
 (106638, 59.95, 30.0, 29.950000000000003),
 (106638, 99.95, 55.0, 44.95),
 (106638, 24.95, 8.0, 16.95),
 (106638, 49.95, 23.0, 26.950000000000003),
 (106638, 29.95, 13.15, 16.799999999999997),
 (152838, 59.95, 23.0, 36.95),
 (147219, 123.95, 53.0, 70.95),
 (163027, 139.95, 64.4, 75.54999999999998),
 (163027, 105.0, 52.5, 52.5),
 (163027, 59.9, 21.0, 38.9),
 (163027, 179.95, 64.21, 115.74),
 (163027, 59.95, 26.85, 33.1),
 (196418, 99.95, 43.0, 56.95),
 (104666, 59.95, 22.5, 37.45),
 (166727, 49.95, 24.0, 25.950000000000003),
 (166487, 49.95, 22.78, 27.17),
 (145185, 81.9, 50.0, 31.900000000000006),
 (145185, 34.95, 28.49, 6.460000000000004),
 (145185, 19.95, 16.5, 3.4499999999999993),
 (163220, 24.95, 12.5, 12.45),
 (106708, 69.95, 29.5, 40.45),
 (106708, 119.95, 65.0, 54.95),
 (106708, 69.95, 27.5, 42.45),
 (106708, 23.9, 5.98, 17.919999999999998),
 (106708, 69.95, 28.43, 41.52),
 (106708, 89.95, 34.3, 55.650000000000006),
 (189910, 99.95, 42.0, 57.95),
 (189910, 89.95, 25.0, 64.95),
 (154956, 139.95, 41.33, 98.61999999999999),
 (154956, 59.95, 29.0, 30.950000000000003),
 (154956, 39.95, 14.0, 25.950000000000003),
 (154956, 79.95, 36.0, 43.95),
 (154956, 79.9, 27.0, 52.900000000000006),
 (180383, 29.95, 10.0, 19.95),
 (180383, 69.95, 27.0, 42.95),
 (152616, 129.95, 60.0, 69.94999999999999),
 (175431, 39.95, 18.66, 21.290000000000003),
 (175431, 39.95, 18.66, 21.290000000000003),
 (175431, 29.95, 13.5, 16.45),
 (156073, 199.95, 94.5, 105.44999999999999),
 (144737, 149.95, 65.0, 84.94999999999999),
 (144737, 24.95, 9.05, 15.899999999999999),
 (144737, 12.95, 2.7, 10.25),
 (144737, 69.95, 30.0, 39.95),
 (186878, 49.95, 15.2, 34.75),
 (186878, 39.95, 19.35, 20.6),
 (186878, 34.95, 15.75, 19.200000000000003),
 (186878, 39.95, 0.0, 39.95),
 (186878, 34.95, 16.75, 18.200000000000003),
 (180350, 39.95, 19.5, 20.450000000000003),
 (158303, 99.95, 52.21, 47.74),
 (198900, 19.95, 9.5, 10.45),
 (151948, 44.95, 20.25, 24.700000000000003),
 (189716, 49.95, 22.0, 27.950000000000003),
 (189716, 79.9, 24.92, 54.980000000000004),
 (189716, 59.95, 23.5, 36.45),
 (189716, 69.95, 29.4, 40.550000000000004),
 (189716, 99.95, 41.65, 58.300000000000004),
 (163726, 49.95, 24.0, 25.950000000000003),
 (163726, 99.95, 45.95, 54.0),
 (190661, 279.95, 134.0, 145.95),
 (175003, 99.95, 55.0, 44.95),
 (175003, 24.95, 8.0, 16.95),
 (175003, 199.95, 89.0, 110.94999999999999),
 (181138, 49.95, 24.0, 25.950000000000003),
 (163104, 29.95, 10.25, 19.7),
 (163104, 29.95, 10.0, 19.95),
 (163104, 199.8, 87.0, 112.80000000000001),
 (163104, 34.95, 11.0, 23.950000000000003),
 (163104, 39.95, 14.5, 25.450000000000003),
 (133255, 49.95, 21.25, 28.700000000000003),
 (133255, 69.95, 22.95, 47.0),
 (133255, 59.95, 27.18, 32.77),
 (133255, 19.95, 9.8, 10.149999999999999),
 (133255, 19.95, 9.8, 10.149999999999999),
 (133255, 3.95, 1.73, 2.22),
 (157877, 69.95, 35.0, 34.95),
 (178453, 24.95, 13.83, 11.12),
 (178453, 49.95, 23.73, 26.220000000000002),
 (193703, 69.95, 19.26, 50.69),
 (145218, 24.95, 20.68, 4.27),
 (145218, 15.9, 11.0, 4.9),
 (166946, 549.95, 288.75, 261.20000000000005),
 (166946, 29.95, 13.8, 16.15),
 (166946, 99.95, 46.5, 53.45),
 (166946, 24.95, 14.09, 10.86),
 (110384, 194.95, 108.56, 86.38999999999999),
 (110384, 129.95, 65.0, 64.94999999999999),
 (171274, 89.95, 37.92, 52.03),
 (171274, 59.95, 27.5, 32.45),
 (152487, 29.95, 14.99, 14.959999999999999),
 (146541, 34.95, 11.76, 23.190000000000005),
 (146541, 34.95, 11.76, 23.190000000000005),
 (146541, 18.95, 4.86, 14.09),
 (146541, 18.95, 4.86, 14.09),
 (146541, 20.85, 3.3, 17.55),
 (146541, 20.85, 3.3, 17.55),
 (146541, 59.95, 23.75, 36.2),
 (146541, 79.95, 42.0, 37.95),
 (146541, 59.95, 28.85, 31.1),
 (146541, 79.95, 34.65, 45.300000000000004),
 (146541, 49.95, 20.75, 29.200000000000003),
 (146541, 39.95, 17.0, 22.950000000000003),
 (146541, 79.95, 52.0, 27.950000000000003),
 (146541, 59.95, 53.51, 6.440000000000005),
 (146541, 59.95, 53.51, 6.440000000000005),
 (146541, 39.95, 19.5, 20.450000000000003),
 (146541, 49.95, 20.0, 29.950000000000003),
 (146541, 39.95, 19.55, 20.400000000000002),
 (102136, 24.95, 9.05, 15.899999999999999),
 (102136, 99.95, 48.0, 51.95),
 (166689, 29.95, 10.9, 19.049999999999997),
 (166689, 49.95, 25.0, 24.950000000000003),
 (174607, 49.95, 22.0, 27.950000000000003),
 (160735, 59.95, 22.5, 37.45),
 (160735, 49.95, 22.5, 27.450000000000003),
 (158579, 299.95, 156.0, 143.95),
 (158579, 499.95, 240.0, 259.95),
 (158579, 39.95, 17.0, 22.950000000000003),
 (182635, 129.95, 54.0, 75.94999999999999),
 (182635, 39.95, 7.8, 32.150000000000006),
 (186600, 59.9, 27.2, 32.7),
 (186600, 219.95, 120.0, 99.94999999999999),
 (186600, 39.95, 20.0, 19.950000000000003),
 (186600, 24.95, 11.25, 13.7),
 (151530, 99.9, 49.82, 50.080000000000005),
 (151591, 59.85, 22.8, 37.05),
 (151591, 79.9, 25.5, 54.400000000000006),
 (151591, 49.9, 18.34, 31.56),
 (196485, 39.95, 14.6, 25.35),
 (196485, 169.95, 102.2, 67.74999999999999),
 (196485, 69.95, 36.26, 33.690000000000005),
 (196485, 229.95, 62.86, 167.08999999999997),
 (147255, 29.95, 13.0, 16.95),
 (147255, 69.95, 19.99, 49.96000000000001),
 (147255, 139.9, 39.98, 99.92000000000002),
 (123070, 79.95, 36.0, 43.95),
 (123070, 129.95, 65.0, 64.94999999999999),
 (149584, 99.9, 50.0, 49.900000000000006),
 (149584, 109.95, 52.5, 57.45),
 (167597, 199.95, 75.37, 124.57999999999998),
 (149686, 59.95, 43.76, 16.190000000000005),
 (149686, 269.95, 196.61, 73.33999999999997),
 (134211, 349.95, 187.5, 162.45),
 (152401, 29.95, 22.6, 7.349999999999998),

###30 - Aggregate operations in SQL

0. Connect to the database again

In [12]:
con = sqlite3.connect(database="database1.sqlite")
cursor = con.cursor()

1.	Show for each customer the latest transaction date (LatestPurch) as well as the maximum purchase amount per transaction (MaxPurch). Please use  MAX(VariableName) here.

In [13]:
pd.read_sql_query("Select * FROM transactions GROUP BY Customer ORDER BY TransDate DESC", con)

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID,TransKey
0,199516,2012-12-09 00:00,1,59.95,25.00,131970040,320233
1,199515,2012-12-09 00:00,1,39.95,12.86,131970025,323072
2,199514,2012-12-09 00:00,1,59.95,30.00,131969858,247618
3,199513,2012-12-09 00:00,1,29.95,12.23,131969667,323056
4,199512,2012-12-09 00:00,1,149.95,75.13,131969590,323055
...,...,...,...,...,...,...,...
98775,100291,2004-12-16 00:00,1,49.95,22.89,124285020,144180
98776,100290,2004-12-16 00:00,1,59.95,26.00,124284887,144178
98777,100289,2004-12-16 00:00,1,129.95,58.25,124284670,144168
98778,100288,2004-12-16 00:00,1,99.95,49.98,124284512,144156
98779,100287,2004-12-16 00:00,1,59.95,22.00,124284041,133827

In [14]:
pd.read_sql_query(
    "Select * FROM transactions GROUP BY Customer ORDER BY PurchAmount ASC", con)

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID,TransKey
0,167518,2007-01-12 00:00,1,0.00,31.88,128651688,198401
1,167587,2007-02-12 00:00,1,0.00,31.88,128654999,200081
2,168956,2007-12-18 00:00,1,0.00,45.00,128702766,211965
3,169561,2008-01-16 00:00,1,0.00,328.61,128729578,137166
4,170444,2008-10-03 00:00,1,0.00,0.00,128769365,218283
...,...,...,...,...,...,...,...
98775,161361,2010-12-13 00:00,1,4000.00,2095.00,128403312,289513
98776,145969,2005-12-04 00:00,1,4495.95,2100.00,127888396,105544
98777,119978,2007-09-09 00:00,1,4499.95,3100.00,125329528,197130
98778,142560,2009-07-12 00:00,1,4500.00,3080.00,127735971,261828
98779,183387,2012-07-03 00:00,1,5000.00,2730.00,129312464,316741

In [15]:
pd.read_sql_query("select * from transactions t where t.PurchAmount = (select max(PurchAmount) from transactions )", con)

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID,TransKey
0,183387,2012-07-03 00:00,1,5000.0,2730.0,129312464,316741

In [16]:
pd.read_sql_query("select Customer, max(PurchAmount) as MaxPurch, max(TransDate) as LatestTransaction from transactions group by customer;", con)

       Customer  MaxPurch LatestTransaction
0        100001    199.95  2011-08-24 00:00
1        100002    499.95  2004-12-29 00:00
2        100003    249.95  2012-01-23 00:00
3        100004    499.95  2012-08-05 00:00
4        100005     79.95  2010-12-19 00:00
...         ...       ...               ...
98775    199995     29.95  2012-09-17 00:00
98776    199996    179.95  2012-09-17 00:00
98777    199997     29.95  2012-09-17 00:00
98778    199998     29.95  2012-09-17 00:00
98779    199999    179.95  2012-09-17 00:00

[98780 rows x 3 columns]

2.	Calculate the average purchase amount (AvgPurch) and average cost (AvgCost) per year. Please use AVG(VariableName) here.

In [17]:
pd.read_sql_query(
    "SELECT avg(PurchAmount) as AveragePurchAmount, avg(Cost) as AverageCost, strftime('%Y', TransDate) year FROM transactions group by year ", con)

   AveragePurchAmount  AverageCost  year
0           65.928162    31.966158  2004
1           77.364948    37.129070  2005
2           84.117115    40.217183  2006
3           87.285891    41.403788  2007
4           84.475157    39.446685  2008
5           83.087542    38.009686  2009
6           84.041538    37.891392  2010
7           84.353225    37.785226  2011
8           89.455530    40.981603  2012

3.	Write a query for a table that shows the number of transactions (Transactions) and the average purchase amount (AvgPurch) per customer per month.

In [18]:
pd.read_sql_query(
    "SELECT count(*) as Transactions, avg(PurchAmount) as AvgPurch, strftime('%Y-%m', TransDate) as YearMonth FROM transactions group by YearMonth ", con)

    Transactions   AvgPurch YearMonth
0            419  65.928162   2004-12
1           1123  74.233063   2005-01
2           1152  75.817352   2005-02
3           1147  75.678561   2005-03
4           1030  81.837874   2005-04
..           ...        ...       ...
92          1247  86.978508   2012-08
93           792  90.188447   2012-09
94           494  86.212045   2012-10
95           476  93.767437   2012-11
96           493  84.488337   2012-12

[97 rows x 3 columns]

###31 - Merge operations in SQL

0. Connect to the database again.

1.	Join all transactions with the demographic details of the corresponding customers. What is the share of female customers in the overall purchase amount?

In [19]:
total = pd.read_sql_query(
    "SELECT count(*) from transactions t join demographics d on t.Customer = d.Customer ", con)

females = pd.read_sql_query(
    "SELECT count(*) from transactions t join demographics d on t.Customer = d.Customer where d.Gender = 'f' ", con)

In [20]:
pd.read_sql_query(
    "SELECT * from transactions t join demographics d on t.Customer = d.Customer ", con)

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID,TransKey,Customer,Gender,Birthdate,ZIP,JoinDate
0,149332,2005-11-15 00:00,1,199.95,107.00,127998739,100000,149332,m,1998-07-07 00:00,US-08873,2005-11-05 00:00
1,172951,2008-08-29 00:00,1,199.95,108.00,128888288,100001,172951,m,1963-11-16 00:00,US-11378,1980-04-04 00:00
2,120621,2007-10-19 00:00,1,99.95,49.00,125375247,100002,120621,f,1969-08-20 00:00,US-63124,1987-01-26 00:00
3,149236,2005-11-14 00:00,1,39.95,18.95,127996226,100003,149236,f,1955-08-15 00:00,US-92646,1971-02-16 00:00
4,149236,2007-06-12 00:00,1,79.95,35.00,128670302,100004,149236,f,1955-08-15 00:00,US-92646,1971-02-16 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
223186,199997,2012-09-17 00:00,1,29.95,13.80,132481149,323186,199997,m,1997-01-14 00:00,US-32092,2012-09-15 00:00
223187,199997,2012-09-17 00:00,1,29.95,13.80,132481149,323187,199997,m,1997-01-14 00:00,US-32092,2012-09-15 00:00
223188,199998,2012-09-17 00:00,1,29.95,13.80,132481154,323188,199998,f,1956-05-23 00:00,US-54952,1975-05-14 00:00
223189,199999,2012-09-17 00:00,1,179.95,109.99,132481165,323189,199999,f,1953-11-06 00:00,US-35223,1970-12-23 00:00
223190,199542,2012-09-17 00:00,1,39.95,10.50,131973368,323190,199542,m,1965-03-12 00:00,US-02332,1983-07-30 00:00

In [21]:
females / total

   count(*)
0  0.502753

2.	Compare the inner and the left outer join of the transaction and the demographic data. For how many transactions is no demographic information available?

In [22]:
pd.read_sql_query(
    "SELECT count(*) from transactions t inner join demographics d on t.Customer = d.Customer ", con)

   count(*)
0    223191

In [26]:
pd.read_sql_query(
    "SELECT count(*) from transactions ", con)

   count(*)
0    223191

In [25]:
pd.read_sql_query(
    "SELECT count(*) from transactions t left outer join demographics d on t.Customer = d.Customer where d.customer is null", con)

   count(*)
0         0

3.	Merge the transaction and the demographic data in a way, that the resulting table only shows the transactions on the day the customer joined the company.

In [28]:
pd.read_sql_query(
    "SELECT * from transactions t inner join demographics d on t.Customer = d.Customer where date(d.JoinDate) = date(t.TransDate)", con)

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID,TransKey,Customer,Gender,Birthdate,ZIP,JoinDate
0,170823,2008-04-04 00:00,2,109.90,45.20,128786894,100214,170823,m,1998-03-21 00:00,US-99515,2008-04-04 00:00
1,103853,2006-06-07 00:00,1,159.95,81.11,124416583,101154,103853,f,1990-08-10 00:00,US-94114,2006-06-07 00:00
2,102521,2005-09-14 00:00,1,159.95,120.00,124386341,101521,102521,m,1996-07-19 00:00,US-94803,2005-09-14 00:00
3,145017,2005-01-31 00:00,1,299.95,215.00,127858059,101804,145017,m,1987-11-14 00:00,US-29926,2005-01-31 00:00
4,145017,2005-01-31 00:00,1,0.00,0.00,127858059,101805,145017,m,1987-11-14 00:00,US-29926,2005-01-31 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1010,199292,2012-07-29 00:00,1,24.95,13.05,131940739,321753,199292,m,1998-03-06 00:00,US-78934,2012-07-29 00:00
1011,185716,2012-02-08 00:00,1,159.95,75.13,129522431,321844,185716,f,1994-10-05 00:00,US-46725,2012-02-08 00:00
1012,199426,2012-01-09 00:00,1,39.95,20.00,131960522,322651,199426,f,1997-01-23 00:00,US-34238,2012-01-09 00:00
1013,199426,2012-01-09 00:00,1,19.95,9.50,131960522,322652,199426,f,1997-01-23 00:00,US-34238,2012-01-09 00:00
1014,186303,2012-09-13 00:00,1,59.95,25.00,129593425,323075,186303,m,1996-12-19 00:00,US-60022,2012-09-13 00:00