#Python - Non-technical introduction

##SOLUTION Exercise Day 3 Session 1: "Leverage synergies: How to use “merge” operations?"

This file provides the solutions to the exercises accompanying the lectures.
Note: If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###Preparation

**Make sure to run the follwing code before continuing.** Code will prepare everything (load data, ...).

In [ ]:
#load the numpy package
import numpy as np
#load the Pandas package
import pandas as pd
#Read the csv file and store it in the variable "myData". Note: this file is hostes in a GitHub repository.
myData=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv", sep=",")
#Adjust the format of column "TransDate" to datetime
myData["TransDate"]  = pd.to_datetime(myData["TransDate"], dayfirst=True)

#Read the demographics csv file and store it in the variable "CustData". Note: this file is hostes in a GitHub repos
CustData=pd.read_csv("https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/demographics.csv", sep=",")
# Adjust the format of column "Birthdate" to datetime
CustData["Birthdate"]  = pd.to_datetime(CustData["Birthdate"], dayfirst=True)
CustData["JoinDate"]  = pd.to_datetime(CustData["JoinDate"], dayfirst=True)

###23 Basig merging techniques

No exercises for this unit.

###24 - Inner joins and full outer joins

1. Merge `myData` and `CustData` by Customer using an inner join for customers born after 1980. *Hint:* Check that the date is formatted correctly.

In [ ]:
myData.merge(CustData.loc[CustData["Birthdate"].dt.year>1980], how="inner", on="Customer")

       Customer  TransDate  Quantity  ...       ZIP   JoinDate  TransKey
0        149332 2005-11-15         1  ...  US-08873 2005-11-05  100000.0
1        149332 2005-12-13         1  ...  US-08873 2005-11-05  100000.0
2        149332 2006-10-05         1  ...  US-08873 2005-11-05  100000.0
3        105474 2006-12-18         1  ...  US-91741 2005-03-07  100033.0
4        105474 2006-12-18         1  ...  US-91741 2005-03-07  100033.0
...         ...        ...       ...  ...       ...        ...       ...
85106    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
85107    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
85108    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
85109    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
85110    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0

[85111 rows x 11 columns]

In [ ]:
#%% Alternative: Merge first and filter in a second step
mergeTable = myData.merge(CustData, how="inner", on="Customer")
merge1980_2=mergeTable.loc[mergeTable["Birthdate"].dt.year>1980]
print(merge1980_2)

        Customer  TransDate  Quantity  ...       ZIP   JoinDate  TransKey
0         149332 2005-11-15         1  ...  US-08873 2005-11-05  100000.0
1         149332 2005-12-13         1  ...  US-08873 2005-11-05  100000.0
2         149332 2006-10-05         1  ...  US-08873 2005-11-05  100000.0
33        105474 2006-12-18         1  ...  US-91741 2005-03-07  100033.0
34        105474 2006-12-18         1  ...  US-91741 2005-03-07  100033.0
...          ...        ...       ...  ...       ...        ...       ...
223183    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
223184    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
223185    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
223186    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0
223187    199997 2012-09-17         1  ...  US-32092 2012-09-15  323182.0

[85111 rows x 11 columns]

2. Merge `myData` and `CustData` by Customer using an outer join for customers that purchased in 2008.

In [ ]:
myData.loc[myData["TransDate"].dt.year==2008, ].merge(CustData, how="outer", on="Customer")

        Customer  TransDate  Quantity  ...       ZIP   JoinDate  TransKey
0         172951 2008-08-29       1.0  ...  US-11378 1980-04-04  100001.0
1         172951 2008-08-29       1.0  ...  US-11378 1980-04-04  100001.0
2         172951 2008-08-29       1.0  ...  US-11378 1980-04-04  100001.0
3         103952 2008-05-11       1.0  ...  US-48060 1993-07-17  100025.0
4         103952 2008-05-11       1.0  ...  US-48060 1993-07-17  100025.0
...          ...        ...       ...  ...       ...        ...       ...
114947    186347        NaT       NaN  ...  US-74014 1989-07-11  323181.0
114948    199997        NaT       NaN  ...  US-32092 2012-09-15  323182.0
114949    199998        NaT       NaN  ...  US-54952 1975-05-14  323188.0
114950    199999        NaT       NaN  ...  US-35223 1970-12-23  323189.0
114951    199542        NaT       NaN  ...  US-02332 1983-07-30  323190.0

[114952 rows x 11 columns]

In [ ]:
#Aternative
myData2008=myData.loc[myData["TransDate"].dt.year==2008, ]
myData2008.merge(CustData, how="outer", on="Customer")
print(myData2008)

        Customer  TransDate  Quantity  PurchAmount    Cost    TransID
1         172951 2008-08-29         1       199.95  108.00  128888288
22        172951 2008-08-29         1       249.95  162.50  128888288
23        172951 2008-08-29         1       349.95  187.50  128888288
26        103952 2008-05-11         1       119.95   58.60  128953620
27        103952 2008-05-11         1        24.95   11.50  128953620
...          ...        ...       ...          ...     ...        ...
142981    135894 2008-12-31         1        24.95    8.00  126304473
142982    135894 2008-12-31         1        24.95    8.00  126304473
142983    135895 2008-12-31         1        39.95   13.95  126304499
142984    135895 2008-12-31         1        39.95   13.95  126304499
142985    135895 2008-12-31         1        39.95   13.95  126304499

[33403 rows x 6 columns]

###25 - Left and right outer joins

1. Merge `myData` and `CustData` by `Customer` using an outer left join.

In [ ]:
myData.merge(CustData, how="left", on="Customer")

2. Merge `myData` and `CustData` by `Customer` using an outer right join.

In [ ]:
myData.merge(CustData, how="right", on="Customer")

###26 - Overview of advanced techniques for
merging datasets

3. Merge `myData` and `CustData` by `Customer` and by `TransDate` resp. `JoinDate` using an inner join.

In [ ]:
myData.merge(CustData, how="inner", left_on=["Customer", "TransDate"], right_on=["Customer", "JoinDate"])