#Python - Non-technical introduction

##Exercise Session: "In god we trust, all others must bring data: How to load data in Python?"

This file provides exercises accompanying the lectures.

*Note:* If you want to make changes to this document, you need to save your own copy using the "Save copy in Drive" command in the "File" menu.

###08 - Reading data

1. Have a look at the CSV file stored at [https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv](https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv).

2. Read in the CSV file with the help of the pandas package (imported as `pd`). Use the `pd.csv_read()` command. You can use the URL provided above as if it would be a path of a local file. Next, make the data available for further use (name it `myData`).

In [39]:
import pandas as pd

In [40]:
myData = pd.read_csv("https://raw.githubusercontent.com/bachmannpatrick/Python-Class/master/data/transactions.csv")

###09 - Basic investigation of data

1. Look at the data that you loaded in the previous exercise (e.g., use `head()` or `tail()`)

In [41]:
myData.dtypes

Customer         int64
TransDate       object
Quantity         int64
PurchAmount    float64
Cost           float64
TransID          int64
dtype: object

In [42]:
myData.head()

   Customer   TransDate  Quantity  PurchAmount    Cost    TransID
0    149332  15.11.2005         1       199.95  107.00  127998739
1    172951  29.08.2008         1       199.95  108.00  128888288
2    120621  19.10.2007         1        99.95   49.00  125375247
3    149236  14.11.2005         1        39.95   18.95  127996226
4    149236  12.06.2007         1        79.95   35.00  128670302

In [43]:
myData.tail()

        Customer   TransDate  Quantity  PurchAmount    Cost    TransID
223186    199997  17.09.2012         1        29.95   13.80  132481149
223187    199997  17.09.2012         1        29.95   13.80  132481149
223188    199998  17.09.2012         1        29.95   13.80  132481154
223189    199999  17.09.2012         1       179.95  109.99  132481165
223190    199542  17.09.2012         1        39.95   10.50  131973368

2. Use pandas' `to_datetime()`-function to format the TransDate column.

In [44]:
# help(pd.to_datetime)
myData["TransDate"] = pd.to_datetime(
    myData["TransDate"],
    format="%d.%m.%Y",
    utc=True,
    dayfirst=True 
    )

In [45]:
myData

,Customer,TransDate,Quantity,PurchAmount,Cost,TransID
0,149332,2005-11-15 00:00:00+00:00,1,199.95,107.00,127998739
1,172951,2008-08-29 00:00:00+00:00,1,199.95,108.00,128888288
2,120621,2007-10-19 00:00:00+00:00,1,99.95,49.00,125375247
3,149236,2005-11-14 00:00:00+00:00,1,39.95,18.95,127996226
4,149236,2007-06-12 00:00:00+00:00,1,79.95,35.00,128670302
...,...,...,...,...,...,...
223186,199997,2012-09-17 00:00:00+00:00,1,29.95,13.80,132481149
223187,199997,2012-09-17 00:00:00+00:00,1,29.95,13.80,132481149
223188,199998,2012-09-17 00:00:00+00:00,1,29.95,13.80,132481154
223189,199999,2012-09-17 00:00:00+00:00,1,179.95,109.99,132481165
223190,199542,2012-09-17 00:00:00+00:00,1,39.95,10.50,131973368

3. Use `dtypes(`) to see if the change was made correctly. (How can you tell?)

In [47]:
myData.dtypes

Customer                     int64
TransDate      datetime64[ns, UTC]
Quantity                     int64
PurchAmount                float64
Cost                       float64
TransID                      int64
dtype: object

4. Use `describe()` to get the summary statistics.

In [48]:
myData.describe()

,Customer,Quantity,PurchAmount,Cost,TransID
count,223191.000000,223191.000000,223191.000000,223191.000000,2.231910e+05
mean,148366.708384,1.037009,84.164615,39.013295,1.279955e+08
std,28657.866956,0.336899,105.864308,57.145100,2.188099e+06
min,100001.000000,1.000000,0.000000,0.000000,1.234568e+08
25%,123563.000000,1.000000,34.950000,14.030000,1.259722e+08
50%,148635.000000,1.000000,59.950000,24.000000,1.282728e+08
75%,172467.000000,1.000000,99.950000,45.000000,1.291887e+08
max,199999.000000,70.000000,5000.000000,3100.000000,1.324812e+08

5. Save the DataFrame object to a csv-file with the name
 "transactions_students_backup.csv".

In [49]:
myData.to_csv(
    path_or_buf="transactions_students_backup.csv",
    sep=","
)